extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item Лечение суставов
            section.section
                .call-box
                    form
                        .call-box_left
                            h1 Отправить запрос на лечение
                            .form-box
                                .input-line.input-inline
                                    label Ваше имя и фамилия
                                    span.input
                                        input(type="text")
                                .input-line.input-inline
                                    label E-mail
                                    span.input
                                        input(type="email")
                                .input-line.input-inline
                                    label Номер телефона
                                    span.input
                                        input(type="text")
                                .input-line.input-inline
                                    label Дата рождения
                                    span.input
                                        input(type="text")
                        .call-box_right
                            h1 Медицинские данные
                            .form-box
                                .input-line.input-textarea
                                    label Причина обращения
                                    span.input
                                        textarea
                                .input-line.input-textarea
                                    label Дополнительная информация
                                    span.input
                                        textarea
                        input(type="submit" value="Отправить").button
                .record-box
                    h1  Запишитесь на лечение в нашу клинику
                    a(href="/").button Отправить запрос на лечение
                .article-box
                    .article-box_head
                        h1 Новости
                        a(href="/").link Читать все новости
                    .article-box_content
                        +article-box_item(
                        'ai-1.jpg',
                        '14 декабря',
                        'Открытие новой клиники в Вене',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-2.jpg',
                        '22 декабря',
                        'Мы осущетсвляем полное обследование',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-3.jpg',
                        '13 декабря',
                        'Новые технологии лечения рака',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-4.jpg',
                        '31 декабря',
                        'Мы лечим бесплодие за 2 месяца',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )