extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item Карточка клиник
            section.section
                .card-box
                    .slider-box-wrap
                        .slider-box
                            .slider-box_item
                                img(src="img/content/sl-1.jpg")
                            .slider-box_item
                                img(src="img/content/sl-2.jpg")
                            .slider-box_item
                                img(src="img/content/sl-1.jpg")
                            .slider-box_item
                                img(src="img/content/sl-2.jpg")
                        .slider-pager
                            a(href="" data-slide-index="0").slider-pager_item
                                img(src="img/content/slp-1.jpg")
                            a(href="" data-slide-index="1").slider-pager_item
                                img(src="img/content/slp-2.jpg")
                            a(href="" data-slide-index="2").slider-pager_item
                                img(src="img/content/slp-3.jpg")
                            a(href="" data-slide-index="3").slider-pager_item
                                img(src="img/content/slp-4.jpg")
                    .card-box_content
                        h1 Medicom - inteligance
                        h4 Центр онкологической медицины
                        .card-box_text
                            p В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.
                            p В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.
                            a(href="").button Отправить запрос на лечение
                .contact-box
                    .contact-box_left
                        .contact-box_head
                            h1 Расположение <br/> клиники
                        .contact-box_adress
                            .adress_phone
                                h3 8 800 678 54 34
                            .adress_timetable Пн – Вс с 9:00 до 21:00﻿
                            .adress_text Моя клиника на ст.м. Осокорки<br/> ул. Княжий Затон, 21, оф. 2
                    .map
                        #map
                        script.
                            function initMap() {
                                var myLatLng = {lat: 50.503719, lng: 30.460621};
                                var myLatLng2 = {lat: 50.503719, lng: 30.460621};
                                // Create a map object and specify the DOM element for display.
                                var map = new google.maps.Map(document.getElementById('map'), {
                                    center: myLatLng,
                                    scrollwheel: false,
                                    zoom: 25
                                                        });
                                // marker icon
                                    var markerImage = new google.maps.MarkerImage(
                                            'img/marker-map.png',
                                            new google.maps.Size(35,46),
                                            new google.maps.Point(0,0),
                                            new google.maps.Point(15,46)
                                    );
                                // Create a marker and set its position.
                                var marker = new google.maps.Marker({
                                    icon: markerImage,
                                    map: map,
                                    position: myLatLng,
                                    title: 'Aust'
                                });
                                var marker = new google.maps.Marker({
                                    //icon: ,
                                    map: map,
                                    position: myLatLng,
                                    title: 'Aust'
                                });
                                <!-- var styles = [ -->
                                <!-- { -->
                                <!-- stylers: [ -->
                                <!-- { saturation: -100 } -->
                                <!-- ] -->
                                <!-- } -->
                                <!-- ]; -->
                                <!-- map.setOptions({styles: styles}); -->
                                }
                        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDB8Q-BTwRlGFacbDbCimJFlEvaNflvLko&callback=initMap" async defer)
                .description-box
                    h1 Описание клиники
                    p В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.
                    p Сеть медицинских центров Моя клиника представлена в Киеве двумя филиалами: Поликлиникой на Привокзальной и Моей клиникой на ст.м. Осокорки.<br/> Моя клиника является современным поликлиническим комплексом, в котором пациенты получают качественную медпомощь от врачей общих и узких специальностей.
                .record-box
                    h1  Запишитесь на лечение в нашу клинику
                    a(href="/").button Отправить запрос на лечение
                .article-box
                    .article-box_content
                        +article-box_item(
                        'ai-1.jpg',
                        '14 декабря',
                        'Открытие новой клиники в Вене',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-2.jpg',
                        '22 декабря',
                        'Мы осущетсвляем полное обследование',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-3.jpg',
                        '13 декабря',
                        'Новые технологии лечения рака',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-4.jpg',
                        '31 декабря',
                        'Мы лечим бесплодие за 2 месяца',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
