extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item Наши услуги
            section.section
                .catalog-box-list
                    .catalog-box-list_menu
                        .catalog-box-list_menu-head
                            h3 Наши услуги
                            .catalog-box-list_menu-list
                                a(href="/").list-item.active Лечение рассеяного склероза
                                a(href="/").list-item Лечение рака желудка
                                a(href="/").list-item Лечение остеохандроза
                                a(href="/").list-item Лечение бесплодия
                                a(href="/").list-item Роды в Австрии
                                a(href="/").list-item Лечение язвенного колита
                                a(href="/").list-item Услуга ”Второе мнение”
                                a(href="/").list-item Лечение инсульта
                    .catalog-box-list_content
                        h1 Каталог наших услуг
                        h4 Подзаголовок для страницы
                        .text
                            p В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.
                            p Сеть медицинских центров Моя клиника представлена в Киеве двумя филиалами: Поликлиникой на Привокзальной и Моей клиникой на ст.м. Осокорки. Моя клиника является современным поликлиническим комплексом, в котором пациенты получают качественную медпомощь от врачей общих и узких специальностей. В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.
                .record-box
                    h1  Запишитесь на лечение в нашу клинику
                    a(href="/").button Отправить запрос на лечение
                .article-box
                    .article-box_head
                        h1 Новости
                        a(href="/").link Читать все новости
                    .article-box_content
                        +article-box_item(
                        'ai-1.jpg',
                        '14 декабря',
                        'Открытие новой клиники в Вене',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-2.jpg',
                        '22 декабря',
                        'Мы осущетсвляем полное обследование',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-3.jpg',
                        '13 декабря',
                        'Новые технологии лечения рака',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-4.jpg',
                        '31 декабря',
                        'Мы лечим бесплодие за 2 месяца',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )