extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .content-wrap
            section.section.section-head
                .container
                    h1
                       | Получить качественное лечение у лучших
                       | европейских врачей — проще, чем вы думали
                    h2
                        | Свяжитесь с нами и вы получите по-настоящему особое отношение
                        | и внимание к Вашей проблеме
                    a(href="/").button.button-border Отправить запрос на лечение
                    a(href="/").button.button-border   Получить консультацию по телефону
            section.section.section-gray
                .container
                    h1 Проблемы, которые мы можем решить:
                    .service-list
                        +service-list_item("icon-sl-1",'Лечение рассеяного склероза')
                        +service-list_item("icon-sl-2",'Роды в Австрии')
                        +service-list_item("icon-sl-9",'Лечение суставов')
                        +service-list_item("icon-sl-3",'Лечение рака желудка')
                        +service-list_item("icon-sl-4",'Лечение язвенного колита')
                        +service-list_item("icon-sl-10",'Диагностика рака')
                        +service-list_item("icon-sl-5",'Лечение остеохандроза')
                        +service-list_item("icon-sl-6",'Услуга ”Второе мнение”')
                        +service-list_item("icon-sl-11",'Лечение простатита')
                        +service-list_item("icon-sl-7",'Лечение бесплодия')
                        +service-list_item("icon-sl-8",'Лечение бесплодия')
                        +service-list_item("icon-sl-12",'Все виды','yes')
            section.section
                .container
                    .record-box
                        h1  Запишитесь на лечение в нашу клинику
                        a(href="/").button Отправить запрос на лечение
                    .info-box
                        .info-box_head
                            h1 Наши клиники в Австрии
                        .info-box_content
                            .info-box_img
                                img(src="img/ib.jpg")
                            .info-box_tab
                                .tab-controls(data-tabcontrol-parent='')
                                    span.button.button-tab(data-tabcontrol='tab-reg-1', data-tab-autoshow='') Клиника 1
                                    .tab.fadable.active(data-tab='tab-reg-1')
                                        .info-box_text
                                            .text-head Клиника в вене
                                            .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                            a(href="/").button
                                                span Узнать больше о клинике
                                                span.icon-arrow

                                    span.button.button-tab(data-tabcontrol='tab-reg-2') Клиника 2
                                    .tab.fadable.active(data-tab='tab-reg-1')
                                        .info-box_text
                                            .text-head Клиника в вене
                                            .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                            a(href="/").button
                                                span Узнать больше о клинике
                                                span.icon-arrow

                                    span.button.button-tab(data-tabcontrol='tab-reg-3') Клиника 3
                                    .tab.fadable.active(data-tab='tab-reg-1')
                                        .info-box_text
                                            .text-head Клиника в вене
                                            .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                            a(href="/").button
                                                span Узнать больше о клинике
                                                span.icon-arrow

                                    span.button.button-tab(data-tabcontrol='tab-reg-4') Клиника 4
                                    .tab.fadable.active(data-tab='tab-reg-1')
                                        .info-box_text
                                            .text-head Клиника в вене
                                            .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                            a(href="/").button
                                                span Узнать больше о клинике
                                                span.icon-arrow

                                .tab-content(data-tabcontent-parent='')
                                    .tab.fadable.active(data-tab='tab-reg-1')
                                        .info-box_text
                                            .text-head Клиника в вене
                                            .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                            a(href="/").button
                                                span Узнать больше о клинике
                                                span.icon-arrow
                                    .tab.fadable.fading(data-tab='tab-reg-2')
                                        .info-box_text
                                            .text-head Клиника в вене2
                                            .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                            a(href="/").button
                                                span Узнать больше о клинике
                                                span.icon-arrow
                                    .tab.fadable.fading(data-tab='tab-reg-3')
                                        .info-box_text
                                            .text-head Клиника в вене3
                                            .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                            a(href="/").button
                                                span Узнать больше о клинике
                                                span.icon-arrow
                                    .tab.fadable.fading(data-tab='tab-reg-4')
                                        .info-box_text
                                            .text-head Клиника в вене4
                                            .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                            a(href="/").button
                                                span Узнать больше о клинике
                                                span.icon-arrow

                    .process-box
                        .process-box_head
                            h1 Как происходит процесс от начала до конца
                        .process-box_content
                            .process-box_list.scroll-box#about.nano
                                .tab-controls(data-tabcontrol-parent='').nano-content
                                    .list-item(data-tabcontrol='tab-cont-1', data-tab-autoshow='')
                                        .list-item_head Шаг 1
                                        .list-item_text Вы оставляете заявку у нас на сайте,мы передаем данные в выбранную вами клинику, делаем
                                            | перевод документов и готовим предложение,
                                            | содержащее план лечения. <a href="/">Подробнее</a>
                                    .tab.fadable.active(data-tab='tab-cont-1')
                                        .process-box_video <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7o_w_Sy6bU0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

                                    .list-item(data-tabcontrol='tab-cont-2')
                                        .list-item_head Шаг 2
                                        .list-item_text Мы помагаем Вам офрмить визу, подобрать гостиницу, втсречаем Вас в аэропорту Вены и организовываем трансферер.
                                            | <a href="/">Подробнее</a>
                                    .tab.fadable.active(data-tab='tab-cont-2')
                                        .process-box_video <iframe width="100%" height="100%" src="https://www.youtube.com/embed/RWCM2Bo1Go0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

                                    .list-item(data-tabcontrol='tab-cont-3')
                                        .list-item_head Шаг 3
                                        .list-item_text Вы проходите лечение по выбранной программе, все время с Вами находиться наш переводчик.
                                            | <a href="/">Подробнее</a>
                                    .tab.fadable.active(data-tab='tab-cont-1')
                                        .process-box_video <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7o_w_Sy6bU0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

                                    .list-item(data-tabcontrol='tab-cont-4')
                                        .list-item_head Шаг 3
                                        .list-item_text Вы проходите лечение по выбранной программе, все время с Вами находиться наш переводчик.
                                            | <a href="/">Подробнее</a>
                                    .tab.fadable.active(data-tab='tab-cont-2')
                                        .process-box_video <iframe width="100%" height="100%" src="https://www.youtube.com/embed/RWCM2Bo1Go0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

                                    .list-item(data-tabcontrol='tab-cont-5')
                                        .list-item_head Шаг 3
                                        .list-item_text Вы проходите лечение по выбранной программе, все время с Вами находиться наш переводчик.
                                             | <a href="/">Подробнее</a>
                                    .tab.fadable.active(data-tab='tab-cont-1')
                                        .process-box_video <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7o_w_Sy6bU0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

                            .tab-content(data-tabcontent-parent='')
                                .tab.fadable.active(data-tab='tab-cont-1')
                                    .process-box_video <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7o_w_Sy6bU0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                .tab.fadable.fading(data-tab='tab-cont-2')
                                    .process-box_video <iframe width="100%" height="100%" src="https://www.youtube.com/embed/RWCM2Bo1Go0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                .tab.fadable.fading(data-tab='tab-cont-3')
                                    .process-box_video <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7o_w_Sy6bU0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                .tab.fadable.fading(data-tab='tab-cont-4')
                                    .process-box_video <iframe width="100%" height="100%" src="https://www.youtube.com/embed/RWCM2Bo1Go0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                .tab.fadable.fading(data-tab='tab-cont-5')
                                    .process-box_video <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7o_w_Sy6bU0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

                    .question-box
                        .question-box_head
                            h1 Популряные вопросы, которые нам задают клиенты
                        .question-box_content
                            .question-box_tab
                                .scroll-box#about.nano
                                    .tab-controls(data-tabcontrol-parent='').nano-content
                                        span.button-tab(data-tabcontrol='tab-quest-1', data-tab-autoshow='') Что такое услуга “Второе мнение”?
                                        .tab.fadable.fading(data-tab='tab-quest-1')
                                            .question-box_text
                                                .text-head Что такое услуга “Второе мнение”?
                                                .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                                .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации.

                                        span.button-tab(data-tabcontrol='tab-quest-2') Кто составляет дополнительное медицинское заключение?
                                        .tab.fadable.fading(data-tab='tab-quest-1')
                                            .question-box_text
                                                .text-head Что такое услуга “Второе мнение”?
                                                .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                                .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации.

                                        span.button-tab(data-tabcontrol='tab-quest-3') Сколько стоит лечение?
                                        .tab.fadable.fading(data-tab='tab-quest-1')
                                            .question-box_text
                                                .text-head Что такое услуга “Второе мнение”?
                                                .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                                .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации.

                                        span.button-tab(data-tabcontrol='tab-quest-4') Как мне получить визу?
                                        .tab.fadable.fading(data-tab='tab-quest-1')
                                            .question-box_text
                                                .text-head Что такое услуга “Второе мнение”?
                                                .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                                .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации.

                                        span.button-tab(data-tabcontrol='tab-quest-5') Может мой муж/супурга поехать со мной на лечение?
                                        .tab.fadable.fading(data-tab='tab-quest-1')
                                            .question-box_text
                                                .text-head Что такое услуга “Второе мнение”?
                                                .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                                .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации.

                                        span.button-tab(data-tabcontrol='tab-quest-6') Как оплатить лечение?
                                        .tab.fadable.fading(data-tab='tab-quest-1')
                                            .question-box_text
                                                .text-head Что такое услуга “Второе мнение”?
                                                .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                                .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации.

                                        span.button-tab(data-tabcontrol='tab-quest-6') Как оплатить лечение?
                                        .tab.fadable.fading(data-tab='tab-quest-1')
                                            .question-box_text
                                                .text-head Что такое услуга “Второе мнение”?
                                                .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                                .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации.

                                        span.button-tab(data-tabcontrol='tab-quest-6') Как оплатить лечение?
                                        .tab.fadable.fading(data-tab='tab-quest-1')
                                            .question-box_text
                                                .text-head Что такое услуга “Второе мнение”?
                                                .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                                .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации.

                                .tab-content(data-tabcontent-parent='')
                                    .tab.fadable.fading(data-tab='tab-quest-1')
                                        .question-box_text
                                            .text-head Что такое услуга “Второе мнение”?
                                            .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                            .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации.
                                    .tab.fadable.fading(data-tab='tab-quest-2')
                                        .question-box_text
                                            .text-head Что такое услуга “Второе мнение”?2
                                            .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                    .tab.fadable.fading(data-tab='tab-quest-3')
                                        .question-box_text
                                            .text-head Что такое услуга “Второе мнение”?3
                                            .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                    .tab.fadable.fading(data-tab='tab-quest-4')
                                        .question-box_text
                                            .text-head Что такое услуга “Второе мнение”?4
                                            .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                    .tab.fadable.fading(data-tab='tab-quest-5')
                                        .question-box_text
                                            .text-head Что такое услуга “Второе мнение”?5
                                            .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                                    .tab.fadable.fading(data-tab='tab-quest-6')
                                        .question-box_text
                                            .text-head Что такое услуга “Второе мнение”?6
                                            .main-text Austria Med home - онлайн-портал, на котором представлены высококвалифицированные врачи и специализириованные клиники. Основная задача нашего портала заключается в предоставлении информации о специализированных медицинских учреждениях и высококвалифицированных врачах в клиниках и частных практиках Австрии. На портале Austria Med home представлены исключительно высококвалифицированные специалисты той или иной области специализации. Воспользовавшись функцией поиска по областям специализации, Вы обязательно найдёте квалифицированного специалиста для прохождения лечения в Австрии. Получите подробную информацию о наших критериях отбора врачей.
                    .call-question-box
                        .call-question-box_head
                            h1 Не нашли ответ на свой вопрос?
                        .call-question-box_content
                            .content-left
                                .content-left_text
                                    .content-left_head
                                        span.icon-wrap
                                            .icon-phone
                                        h1 Позвоните нам
                                    .content-left_number-switch
                                        .content-left_number.active(data-phone="1") +7 (967) 234 32 17
                                        .content-left_number(data-phone="2") +6 (967) 234 33 00
                                        .content-left_button-box
                                            .content-left_number-button(data-phone="1").active Россия
                                            .content-left_number-button(data-phone="2") Австрия
                                .content-left_img
                                    img(src="img/bgq.png")
                            .content-right
                                .content-right_text
                                    .content-right_head
                                        span.icon-wrap
                                            .icon-com
                                        h1 или задайте свой вопрос здесь
                                    .content-right_form
                                        form
                                            .input-line
                                                textarea(placeholder="Текст вопроса")
                                            .input-line.input-multi.input-submite
                                                span.input
                                                    input(type="text" placeholder="Ваше имя")
                                                span.input
                                                    input(type="email" placeholder="Ваше имя")
                                                span.submit
                                                    input.button(type="submit" value="Отправить")
                    .article-box
                        .article-box_head
                            h1 Новости
                            a(href="/").link Читать все новости
                        .article-box_content
                            +article-box_item(
                            'ai-1.jpg',
                            '14 декабря',
                            'Открытие новой клиники в Вене',
                            'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                            )
                            +article-box_item(
                            'ai-2.jpg',
                            '22 декабря',
                            'Мы осущетсвляем полное обследование',
                            'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                            )
                            +article-box_item(
                            'ai-3.jpg',
                            '13 декабря',
                            'Новые технологии лечения рака',
                            'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                            )
                            +article-box_item(
                            'ai-4.jpg',
                            '31 декабря',
                            'Мы лечим бесплодие за 2 месяца',
                            'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                            )
