extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item Карточка клиник
            section.section
               h1 Название страницы
               p В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.
               p Сеть медицинских центров Моя клиника представлена в Киеве двумя филиалами: Поликлиникой на Привокзальной и Моей клиникой на ст.м. Осокорки. Моя клиника является современным поликлиническим комплексом, в котором пациенты получают качественную медпомощь от врачей общих и узких специальностей. В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.
               h3 Подзаголовок
               p В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.
               a(href="/").button Отправить
               .service-table
                   .service-table_left
                       h3 Наши услуги
                       .table-box
                            table
                                tr
                                    th Название услуги
                                    th Описание
                                    th  Стоимость
                                tr
                                   td Лечение рассеяного склероза
                                   td
                                    a(href="").link Описание
                                   td от 30 000$
                                tr
                                    td Лечение рака желудка
                                    td
                                        a(href="").link Описание
                                    td от 30 000$
                                tr
                                    td Лечение остеохандроза
                                    td
                                        a(href="").link Описание
                                    td от 30 000$
                                tr
                                    td Лечение бесплодия
                                    td
                                        a(href="").link Описание
                                    td от 30 000$
                                tr
                                    td Роды в Австрии
                                    td
                                        a(href="").link Описание
                                    td от 30 000$
                                tr
                                    td Лечение язвенного колита
                                    td
                                        a(href="").link Описание
                                    td от 30 000$
                   .service-table_right
                       h3 Изображение
                       img(src="img/content/sti.jpg")
               .record-box
                    h1  Запишитесь на лечение в нашу клинику
                    a(href="/").button Отправить запрос на лечение
                .article-box
                    .article-box_head
                        h1 Новости
                        a(href="/").link Читать все новости
                    .article-box_content
                        +article-box_item(
                        'ai-1.jpg',
                        '14 декабря',
                        'Открытие новой клиники в Вене',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-2.jpg',
                        '22 декабря',
                        'Мы осущетсвляем полное обследование',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-3.jpg',
                        '13 декабря',
                        'Новые технологии лечения рака',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-4.jpg',
                        '31 декабря',
                        'Мы лечим бесплодие за 2 месяца',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )