extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item Новости
            section.section.section-news
                .article-box.article-news
                    .article-box_head
                        h1 Новости
                    .article-box_content
                        +article-box_item(
                        'ai-1.jpg',
                        '14 декабря',
                        'Открытие новой клиники в Вене',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-2.jpg',
                        '22 декабря',
                        'Мы осущетсвляем полное обследование',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-3.jpg',
                        '13 декабря',
                        'Новые технологии лечения рака',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-4.jpg',
                        '31 декабря',
                        'Мы лечим бесплодие за 2 месяца',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-1.jpg',
                        '14 декабря',
                        'Открытие новой клиники в Вене',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-2.jpg',
                        '22 декабря',
                        'Мы осущетсвляем полное обследование',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-3.jpg',
                        '13 декабря',
                        'Новые технологии лечения рака',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-4.jpg',
                        '31 декабря',
                        'Мы лечим бесплодие за 2 месяца',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                .record-box
                    h1  Запишитесь на лечение в нашу клинику
                    a(href="/").button Отправить запрос на лечение
                .article-box
                    .article-box_content
                        +article-box_item(
                        'ai-1.jpg',
                        '14 декабря',
                        'Открытие новой клиники в Вене',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-2.jpg',
                        '22 декабря',
                        'Мы осущетсвляем полное обследование',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-3.jpg',
                        '13 декабря',
                        'Новые технологии лечения рака',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-4.jpg',
                        '31 декабря',
                        'Мы лечим бесплодие за 2 месяца',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                .paginator
                    .paginator_prev Назад
                    a(href="").paginator_item.active 1
                    a(href="").paginator_item 2
                    a(href="").paginator_item 3
                    a(href="").paginator_item 4
                    a(href="").paginator_item 5
                    a(href="").paginator_next Вперед