extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item Лечение суставов
            section.section
                h1 Заголовок новости
                .news-in-box.group
                    .news-in-box_img
                        img(src="img/content/ni-1.jpg")
                        .item-head_data 22 Декабря
                    .news-in-box_text
                        p В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.
                        p Сеть медицинских центров Моя клиника представлена в Киеве двумя филиалами: Поликлиникой на Привокзальной и Моей клиникой на ст.м. Осокорки. Моя клиника. еть медицинских центров Моя клиника представлена в Киеве двумя филиалами: Поликлиникой на Привокзальной и Моей клиникой на ст.м. Осокорки. Моя клиника является современным поликлиническим комплексом, в котором пациенты получают качественную медпомощь от врачей общих и узких специальностей. В сети
                        p В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии. В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.В сети поликлинических центров Моя\
                        p клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых
                        p исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.
                        p В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования
                .record-box
                    h1  Запишитесь на лечение в нашу клинику
                    a(href="/").button Отправить запрос на лечение
                .article-box
                    .article-box_head
                        h1 Новости
                        a(href="/").link Читать все новости
                    .article-box_content
                        +article-box_item(
                        'ai-1.jpg',
                        '14 декабря',
                        'Открытие новой клиники в Вене',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-2.jpg',
                        '22 декабря',
                        'Мы осущетсвляем полное обследование',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-3.jpg',
                        '13 декабря',
                        'Новые технологии лечения рака',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-4.jpg',
                        '31 декабря',
                        'Мы лечим бесплодие за 2 месяца',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )