

/*::-webkit-input-placeholder {}*/

/*::-moz-placeholder {}*/ /* firefox 19+ */

/*:-moz-placeholder {}*/ /* firefox 18- */

/*:-ms-input-placeholder {}*/ /* ie */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font: inherit;
  font-size: 100%;
  vertical-align: top;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

b, u, i, strong, em {
  vertical-align: baseline;
  font-weight: bold;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  outline: none;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width:100%;
  text-align: center;
}
th {
  font:500 14px/14px SFUI;
  color: #000;
  padding:13px 0;
  &:first-child{
    text-align: left;
    padding-left:14px;
  }
}
tr:nth-child(odd){
  background: #f8f8f8;
}
td {
  font:13px/14px SFUI;
  color: #554d4d;
  padding:13px 0;
  &:first-child{
    text-align: left;
    padding-left:14px;
  }
  a,
  .link{
    display: inline-block;
    margin-top:-1px;
    line-height:14px;
  }
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a {
  transition: opacity .15s linear, color .15s linear, background-color .15s linear, border-color .15s linear;
}

a:link {
}

a:visited {
}

a:active {
}

a:hover {
}

a:focus {
}

p {
  font:14px/20px SFUI;
  color: #585858;
}
p + p {
  margin-top:20px;
}

h1 {
  font:30px/30px PT;
  color: #2c3239;
  margin-bottom:22px;
}
p+h3 {
  margin-top:30px;
}
h3+p {
  margin-top:14px;
}
h2 {
  font:100 25px/30px SFUI;
  margin:10px 0 20px;
}

h3 {
  font:bold 22px/32px PT;
  margin-bottom:7px;
}

h4 {
  font:100 18px/18px SFUI;
  color: #2c3239;
  margin-bottom:22px;
}

ol, ul {
}

li {
}

.justify {
  text-align: justify;
  margin-bottom: 0;
  line-height: 0;
}

.justify > * {
  display: inline-block;
}

.justify:after {
  height: 20px;
  display: inline-block;
  width: 100%;
  content: '';
}

.align-middle-box {
  font-size: 0;
}

.align-middle-box > *,
.align-middle-box:before{
  display: inline-block;
  vertical-align: middle;
}

.align-middle-box:before{
  height: 100%;
  content: '';}

.group:after,
.input-line:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

































