/* default style */

html, body{
  font-family: sans-serif;
  font-size: 12px;
  line-height: 14px;
}

/* /end default */



/* form style */
input[type="text"],
input[type="password"],
input[type="email"],
textarea{
  border:none;
  background: #f8f8f8;
  font:14px/14px SFUI;
  color: #3d3d3d;
  border-radius:5px;
  width:100%;
  padding:12px 14px;
}
input[type="radio"]{
  display: inline-block;
  width:16px;
  height:16px;
  background: #f8f8f8;
  border-radius:50%;
  position: relative;
  cursor: pointer;
}
.radio{
  display: flex;
  align-items: center;
  label{
    display: inline-block;
    margin-bottom:0;
    padding:12px 0;
    cursor: pointer;
  }
}
input[type="radio"]:checked:after{
  content:'';
  display: block;
  width:8px;
  height:8px;
  background: #51cfff;
  border-radius:50%;
  left:50%;
  top:50%;
  margin:-4px;
  position: absolute;
}
.input-radio {
  display: flex;
  justify-content:space-between;
}
.input-line~.input-radio{
  margin-top:10px;
}
.popup-item{
  background: #fff;
  max-width:390px;
  width:100%;
  padding:39px 46px 50px;
  text-align: left;
  position: relative;
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.35);
  span {
    font:14px/20px SFUI;
    color: #585858;
  }
  .icon-close-popup{
    position: absolute;
    right:12px;
    top:15px;
    cursor: pointer;
  }
}
#index-under-banner-text {
  p {
    line-height:24px;
  }
}
.thanks-text {
  display: block;
  margin-top:226px;
}
.popup-text{
  margin-top:12px;
  display: block;
}
.select {
  background: #f8f8f8;
  position: relative;
  border-radius:5px;
  cursor: pointer;
  .icon-arrow-down{
    position: absolute;
    z-index: 0;
    right:12px;
    top:17px;
  }
  select{
    background: transparent;
    color: #3d3d3d;
    font:14px/14px SFUI;
    padding:13px 31px 13px 15px;
    position: relative;
    z-index:1;
    cursor: pointer;
  }
}

.popup-heading{
  text-align: left;
}
textarea{
  padding:18px 16px;
  resize: none;
  height:152px;
}
.input-line~.input-line {
  margin-top:21px;
}
::-webkit-input-placeholder {color:#3d3d3d;}
::-moz-placeholder          {color:#3d3d3d;}/* Firefox 19+ */
:-moz-placeholder           {color:#3d3d3d;}/* Firefox 18- */
:-ms-input-placeholder      {color:#3d3d3d;}
input[type="submit"]{
  cursor: pointer;
  transition: all .25s;
  padding: 13px 45px;
  justify-content: center;
  border:none;
}
.input-multi{
  display: flex;
  .input{
    max-width:202px;
    min-width: 115px;
  }
  .input~.input{
    margin-left:17px;
  }
  .input~.submit{
    margin-left:17px;
  }
}
.input-inline~.input-inline{
  margin-top:27px;
}
label {
  font:14px/16px SFUI;
  color: #3d3d3d;
  display: block;
  margin-bottom:7px;
}
/* /end form */

/* layout style */
ul {
  display: flex;
}
li {
  list-style: none;
  font:12px/12px SFUI;
  color: #3b69a6;
  padding-bottom:1px;
  &:last-child{
    border-bottom:1px solid #ced9e9;
  }
  a {
    color: #9e9e9e;
    text-decoration: none;
    &:after{
      content:'/';
      color: #9e9e9e;
      font-size:16px;
      margin-top:-1px;
      display: inline-block;
      margin:0 2px;
      border-bottom:none;
    }
  }

}

li~li:after{
  display: none;
}
.bc-wrap{
  margin-top:48px;
}
.container {
  max-width:1170px;
  margin:0 auto;
  padding:0 15px;
}
.link {
  color: #3b69a6;
  text-decoration: none;
  border-bottom:1px solid #ced9e9;
  display: block;
  font:14px/16px SFUI;
}
p+.button {
  margin-top:28px;
}
.button {
  font:14px/14px SFUI;
  background: #51cfff;
  display: inline-block;
  border-radius:4px;
  padding:16px 22px;
  color: #fff;
  display: inline-flex;
  text-decoration: none;
  min-width:158px;
  text-align: center;
  justify-content: center;
  .icon-phone{
    margin-right:9px;
  }
  &:hover{
    background: #3b69a6;
  }
  &.button-border{
    padding:14px 22px;
  }
}
.button-border{
  background: transparent;
  color: #000;
  border:2px solid #51cfff;
  &:hover{
    border-color: #3b69a6;
    color: #fff;
  }
}
select{
  background: transparent;
  border: none;
}
  // tab
.fading {
  opacity: 0;
  visibility: hidden;

}
.fadable {
  transition: visibility .3s ease, opacity .3s ease;
}
.tab.active {
  display: block;
}
.tab {
  display: none;
}
  //end tab

.popup-view {
  overflow: hidden;}

.popup-wrap {
  text-transform: none;
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  background: rgba(28, 28, 28, .4);
  padding: 30px;
  overflow-y: scroll;}

.popup-wrap.active {
  display: block;}

.popup-view .wrapper {
  overflow-y: scroll;}


.popup-item.active {
  display: inline-block;}

.popup-item {
  position: relative;
  display: none;}

[data-popup-open]{
  cursor:pointer;}
/* /end layout */

/* header style */
.header-top_menu-nav-mobile{
  display: none;
}
.lang-switch{
  background: #f8f8f8;
  align-self: center;
  position: relative;
  &.active .lang-switch_dropdown{
    display: flex;
    flex-direction: column;
  }
  .icon-lang{
    width:24px;
    img{
      max-height: 24px;
    }
  }
  &_dropdown{
    position: absolute;
    left:0;
    display: none;
    width:100%;
    background: #f8f8f8;
    z-index: 2;
  }
  &_main,
  .dropdown-item{
    font:14px/14px SFUI;
    display: flex;
    padding:10px;
    align-items: center;
    cursor: pointer;
  }
  .dropdown-item{
    text-decoration: none;
    color: #000;
    width:100%;
  }
  &_text{
    margin-left:7px;
  }
  .icon-arrow-down{
    margin-left:37px;
  }
}
.header-top{
  padding:12px 0;
  border-bottom:1px solid #ecf6fc;
  margin-top:-1px;
}
.header-top_menu-nav{
  width:620px;
  display: flex;
  justify-content:space-between;
  .menu-nav_item{
    color: #3b69a6;
    border-bottom:1px solid #ced9e9;
    text-decoration: none;
    font:14px/14px SFUI;
    padding-bottom:1px;
  }
}
.header-middle{
  padding:27px 0 30px;
  .container{
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
  &_number{
    font:bold 22px/22px SFUI;
    align-self:center;
  }
}
.callback{
  text-decoration: none;
  color: #fff;
  align-self:center;
  min-width: 0;
  &.button{
    font-size:12px;
    padding:10px 15px;
  }
}
.header-bottom {
  background: #f8f8f8;
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .button{
    align-self: center;
    padding:11px 22px;
  }
}
.nav-item {
  font:500 14px/21px SFUI;
  color: #303030;
  text-decoration: none;
  padding:19px 28px 16px;
  display: inline-block;
  border-bottom:4px solid transparent;
  position: relative;
  &~.nav-item{
    margin-left:-1px;
  }
  &:before{
    content: '';
    height:24px;
    width:1px;
    background: #c1e1f5;
    display: inline-block;
    position: absolute;
    top:18px;
  }
  &:before{
    right:0;
  }
  &.active{
    border-color: #51cfff;
  }
  &:hover{
    border-color: #51cfff;
  }
  &:last-child:before{
    display: none;
  }
}
/* /end header */

/* footer style */
.footer-top {
  background: #f8f8f8;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .button {
    align-self: center;
  }
}
.anchor {
  width:41px;
  height:41px;
  border-radius:50%;
  position: relative;
  margin:-20px 0 0 -246px;
  background: #51cfff;
  display: block;
  .icon-anchor{
    position: absolute;
    left:50%;
    top:50%;
    margin:-7px 0 0 -10px;
  }
}
.footer-bottom{
  background: #3b69a6;
  padding:23px 0;
  .container{
    display: flex;
    justify-content: space-between;
  }
}
.footer-bottom_menu-nav{
  width:532px;
  display: flex;
  justify-content:space-between;
  .menu-nav_item{
    color: #fff;
    border-bottom:1px solid #6c8fbc;
    text-decoration: none;
    font:12px/12px SFUI;
    padding-bottom:1px;
  }
}
.copyright {
  p{
    color: #fff;
    font:12px/12px SFUI;
  }
}

/* /end footer */

/* content style */
.section{
  padding:60px 0;
}
.section-head{
  background:url("../img/shbg.jpg");
  background-size: cover;
  padding:253px 0 49px;
  .button~.button {
    margin-left:20px;
  }
  h1{
    margin-bottom:0;
  }
  h1,
  h2{
    max-width:784px;
  }
}
.section-gray{
  background: #f8f8f8;
  padding:55px 0 47px;
}
.service-list{
  display: flex;
  margin-top:22px;
  max-width:976px;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top:-33px;
  .icon-sl{
    display: flex;
    width:52px;
    justify-content: center;
  }
  &_item{
    display: flex;
    text-decoration: none;
    width:263px;
    margin-top:33px;
    span {
      align-self: center;
    }
    img{
      align-self: center;
    }
    .text {
      color: #3b69a6;
      border-bottom:1px solid #ced9e9;
      font:14px/14px SFUI;
      margin-left:7px;
    }
  }
  .icon-wrap{
    width:30px;
    height:30px;
    border-radius:50%;
    background: #51cfff;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left:27px;
  }
}
.record-box{
  background: url("../img/record-bg.png");
  padding:60px 32px 30px;
}
.info-box {
  margin-top:53px;
  &_img{
    width:458px;
    img {
      max-height:461px;
    }
  }
  &_content{
    display: flex;
    min-height:458px;
    background: #f8f8f8;
    .button-tab{
      font: 500 14px/21px SFUI;
      color: #303030;
      text-decoration: none;
      padding: 19px 28px 16px;
      display: inline-block;
      border-top: 4px solid transparent;
      position: relative;
      background: transparent;
      cursor: pointer;
      border-radius:0;
      transition: all .25s;
      &:before{
        content: '';
        height: 24px;
        width: 1px;
        background: #c1e1f5;
        display: inline-block;
        position: absolute;
        top: 18px;
        right:0;
      }
      &.active{
        border-color: #51cfff;
      }
      &:hover{
        border-color: #51cfff;
      }
      &:last-child:before{
        display: none;
      }
    }
  }
  &_tab{
    width:682px;
    .tab-controls{
      .tab{
        display: none;
      }
    }
  }
  &_text{
    padding:36px 105px 20px  30px;
    .text-head{
      font:22px/30px PT;
    }
    .main-text{
      font:14px/20px SFUI;
      color: #585858;
      margin-top:18px;
    }
    .button{
      margin-top:36px;
      .icon-arrow {
        margin:2px 0 0 16px;
      }
    }
  }
}
.process-box{
  margin-top:53px;
  &_video{
    width:100%;
    height:460px;
  }
  .tab-content {
    flex-basis: 750px;
  }
  .tab-controls{
    padding: 35px 26px 0;
    .tab{
      display: none;
    }
  }
  .nano {
    color: #fff;
    height: 460px;
    width:390px;
    flex-shrink: 0;
    .nano-pane {
      opacity: 1;
      background:transparent;
      .nano-slider {
        background: #51cfff;
        width: 4px;
        border-radius:3px;
        margin: 0 5px;
      }
    }
  }
  &_list{
    width:390px;
    background: #3b69a6;
    }
  &_content{
    display: flex;
  }
  &_list {
    padding:35px 26px 0;
    .list-item{
      cursor: pointer;
      border-bottom:1px solid #638dbe;
      padding-bottom:25px;
      &~.list-item{
        margin-top:23px;
      }
      &_head{
        font:22px/30px PT;
        color: #fff;
      }
      &_text{
        p{
          font:14px/20px SFUI;
          color: #90b4e4;
        }
      }
      a {
        font-size:14px;
        color: #d6e8ff;
        text-decoration: none;
        border-bottom:1px solid #6289bc;
      }
    }
  }
}
.question-box {
  margin-top:54px;

  .nano {
    color: #fff;
    height: 420px;
    width: 390px;
    flex-shrink: 0;
    .nano-pane {
      opacity: 1;
      background: transparent;
      .nano-slider {
        background: #4fc8f9;
        width: 4px;
        border-radius: 3px;
        margin: 0 5px;
      }
    }
  }
  &_tab{
    display: flex;
  }
  .tab-controls{
    width:390px;
    padding:24px 28px 0 28px;
    background: #f8f8f8;
    font-size:0;
    .tab{
      display: none;
    }
  }
  .button-tab{
    font:16px/20px SFUI;
    color: #3b69a6;
    cursor: pointer;
    display: block;
    transition: all .25s;
    border-bottom:1px solid #d8e0ea;
    padding-bottom:16px;
    &:hover,
    &.active{
      color: #51cfff;
    }
    &~.button-tab{
      margin-top:22px;
    }
  }
  .tab-content{
    width:750px;
  }
  .text-head{
    font:22px/30px PT;
  }
  .main-text{
    font:14px/20px SFUI;
    color: #585858;
    margin-top:18px;
  }
  &_text{
    padding:35px 46px 0;
    background: #fff;
    border:1px solid #f8f8f8;
    min-height:420px;
  }
}
.call-question-box{
  border-bottom:1px solid #d6e0ed;
  margin-top:54px;
}
.call-question-box_content {
  display: flex;
  justify-content: space-between;
  h1{
    font-size:22px;
  }
  .icon-wrap{
    width:41px;
    height:41px;
    border-radius:50%;
    background: #51cfff;
    position: relative;
    margin-right:15px;
    flex-shrink: 0;
    .icon-phone,
    .icon-com{
      display: block;
      position: absolute;
      left:50%;
      top:50%;
      margin:-8px;
    }
  }
  h1 {
    align-self: center;
    margin:0;
  }
  .content-right{
    width:597px;
    &_head {
      display: flex;
      margin-top: 44px;
    }
    &_form{
      margin-top:16px;
    }
  }
  .content-left{
    display: flex;
    width:488px;
    justify-content:space-between;
    flex-shrink: 0;
    &_img{
      width:225px;
    }
    &_head{
      display: flex;
      margin-top: 44px;
    }
    &_number-switch{
      font-size:0;
      margin-top:121px;
    }
    &_number{
      font:bold 22px/30px SFUI;
      display: none;
      &.active{
        display: block;
      }
    }
    &_button-box{
      border-radius:5px;
      border:1px solid #eff9fd;
      display: inline-block;
      margin-top:36px;
    }
    &_number-button{
      display: inline-block;
      padding:11px 23px;
      cursor: pointer;
      font:14px/14px SFUI;
      color: #3b69a6;
      transition: all .25s;
      &.active{
        color: #000;
        background: #eff9fd;
      }
      &:hover{
        background: #eff9fd;
      }
    }
  }
}
.item-head{
  position: relative;
  &_data{
    position: absolute;
    left:21px;
    bottom:20px;
    font:12px/12px SFUI;
    color: #fff;
    width:91px;
    padding:9px 0;
    text-align: center;
    background: #51cfff;
  }
}
.article-box{
  margin-top:54px;
  &_content{
    display: flex;
    justify-content:space-between;
    margin-top:-30px;
    flex-wrap:wrap;
  }
  &_item{
    width:274px;
    padding-left:10px;
    margin-top:30px;
  }

  .item-content{
    background: #f8f8f8;
    padding:15px 18px 12px;
    &_head{
      color: #3b69a6;
      font:18px/20px PT;
      text-decoration: none;
    }
    &_text{
      p{
        font:13px/20px SFUI;
        color: #585858;
        border-bottom:1px solid #d8e0ea;
        margin-top:9px;
        padding-bottom:14px;
      }
    }
    &_comment{
      margin-top:12px;
      display: flex;
    }
    .comment-count {
      font:12px/16px SFUI;
      color: #a7b0b2;
      margin-left:8px;
    }
  }
  &_head{
    display: flex;
    .link {
      margin:9px 0 0 23px;
      align-self: baseline;
    }
  }
}
  // catalog

.catalog-box-list{
  display: flex;
  margin-bottom:30px;
  &_menu-head {
    h3{
      color: #fff;
    }
  }
  &_menu{
    padding:25px 28px;
    background: #3b69a6;
    width:360px;
  }
  &_menu-list {
    display: flex;
    flex-direction: column;
    .list-item{
      color: #ffffff;
      border-bottom:1px solid #638dbe;
      text-decoration: none;
      padding:16px 0 16px;
      font:16px/16px SFUI;
      &:hover,
      &.active{
        color: #51cfff;
      }
      &:last-child{
        border-bottom:none;
      }
    }
  }
  &_content{
    max-width:750px;
    width:100%;
    margin-left:30px;
    .button {
      margin-top:55px;
    }
  }
}

  // end catalog

  // info

.table-box{
  width:555px;
}
.service-table{
  margin:30px 0;
  display: flex;
  justify-content:space-between;
  h3 {
    margin-bottom:15px;
  }
  &_right{
    max-width:555px;
    width:100%;
  }
}

  // end info

.catalog-clinic-box {
  &_item{
    display: flex;
    &~.catalog-clinic-box_item{
      margin-top:30px;
    }
  }
  &_img{
    max-width:458px;
    width:100%;
  }
  &_content{
    max-width:652px;
    width:100%;
    margin-left:30px;
    .button{
      margin-top:76px;
    }
  }
}
.paginator{
  display: flex;
  margin:38px 0 38px -10px;
  justify-content:center;
  &_prev,
  &_next,
  &_item{
    font:12px/12px SFUI;
    border:2px solid #51cfff;
    border-radius:4px;
    width:48px;
    text-align: center;
    padding:15px 0;
    margin-left:10px;
    transition: all .25s;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    &:hover,
    &.active{
      background: #51cfff;
    }
  }
  &_prev,
  &_next{
    width:88px;
  }

}
  // catalog-clinc

.article-news{
  margin:0 0 30px;
}
.news-in-box {
  margin:40px 30px 30px 0;
  &_img{
    position: relative;
    max-width:514px;
    width:100%;
    float: left;
    margin-right:40px;
    .item-head_data{
      left:0;
      top:-15px;
      bottom:inherit;
    }
  }
}
.call-box {
  form{
    display: flex;
    flex-wrap: wrap;
  }
  &_left,
  &_right{
    max-width:458px;
    width: 100%;
  }
  &_right {
    margin-left:128px;
  }
  .button{
    width:254px;
    margin-top:23px;
  }
  .input-textarea{
    textarea{
      height:144px;
    }
    &~.input-textarea{
      margin-top:23px;
    }
  }
  input{
    padding: 15px 14px;
  }
}
.slider-box-wrap{
  max-width:458px;
  width:100%;
  &_item{
    width:458px;
  }
  .slider-pager{
    display: flex;
    justify-content: space-between;
    margin-top:2px;
    &_item{
      width:114px;
    }
  }
}
.card-box{
  display: flex;
  &_content{
    max-width:590px;
    width:100%;
    margin-left:30px;
    .button{
      margin-top:100px;
    }
  }
}
.contact-box{
  margin-top:60px;
  display: flex;
  &_left{
    background: #3b69a6;
    padding:15px 24px;
    width:388px;
    h1 {
      color: #fff;
      border-bottom: 1px solid #638dbe;
      padding-bottom:30px;
    }
    h3{
      margin:100px 0 3px;
      color: #fff;
    }
    .adress{
      &_timetable{
        font:14px/20px;
        color: #fff;
      }
      &_text{
        margin:15px 0 27px;
        p{
          color: #90b4e4;
        }
      }
    }
  }
}
.description-box{
  margin:46px 0 30px;
}
.map {
  max-width:753px;
  width:100%;
  height: 340px;
}
#map{
  width:100%;
  height: 100%;
}
  // end catalog-clinc
/* /end content */