/*@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/../fonts/pfdindisplaypro-reg-webfont.eot');
    src: url('../fonts/../fonts/pfdindisplaypro-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/../fonts/../fonts/pfdindisplaypro-reg-webfont.woff') format('woff'),
         url('../fonts/../fonts/pfdindisplaypro-reg-webfont.ttf') format('truetype'),
         url('../fonts/../fonts/pfdindisplaypro-reg-webfont.svg#pf_dindisplay_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}*/
@font-face {
  font-family: 'SFUI';
  src: url('../fonts/SFUIDisplay-Thin.eot');
  src: url('../fonts/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFUIDisplay-Thin.woff2') format('woff2'),
  url('../fonts/SFUIDisplay-Thin.woff') format('woff'),
  url('../fonts/SFUIDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SFUI';
  src: url('../fonts/SFUIDisplay-Regular.eot');
  src: url('../fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFUIDisplay-Regular.woff2') format('woff2'),
  url('../fonts/SFUIDisplay-Regular.woff') format('woff'),
  url('../fonts/SFUIDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUI';
  src: url('../fonts/SFUIDisplay-Medium.eot');
  src: url('../fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFUIDisplay-Medium.woff2') format('woff2'),
  url('../fonts/SFUIDisplay-Medium.woff') format('woff'),
  url('../fonts/SFUIDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFUI';
  src: url('../fonts/SFUIDisplay-Bold.eot');
  src: url('../fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFUIDisplay-Bold.woff2') format('woff2'),
  url('../fonts/SFUIDisplay-Bold.woff') format('woff'),
  url('../fonts/SFUIDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SFUI';
  src: url('../fonts/SFUIDisplay-Light.eot');
  src: url('../fonts/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFUIDisplay-Light.woff2') format('woff2'),
  url('../fonts/SFUIDisplay-Light.woff') format('woff'),
  url('../fonts/SFUIDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'PT';
  src: url('../fonts/PTSerif-Bold.eot');
  src: url('../fonts/PTSerif-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTSerif-Bold.woff2') format('woff2'),
  url('../fonts/PTSerif-Bold.woff') format('woff'),
  url('../fonts/PTSerif-Bold.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}