@media all and (max-width: 1100px) {
  .header-bottom {
    background: #f8f8f8;
    padding-bottom:20px;
    .container {
      justify-content: center;
    }
  }
  .service-table{
    flex-direction: column;
    align-items: center;
    &_right{
      margin-top:30px;
    }
    &_left{
      width:100%;
      max-width: 555px;
    }
  }
  .table-box{
    margin:0 auto;
    max-width: 100%;
    width:100%;
  }
  .anchor{
    display: none;
  }
  .question-box {
    &_text{
      max-height:420px;
      overflow-y: scroll;
      min-height: 100%;
    }
  }
  .call-box{
    form{
      flex-direction: column;
      align-items: center;
    }
    &_right{
      margin:30px 0 0;
      flex-shrink: 1;
      flex: 458px;
      width:100%;
    }
    &_left{
      flex-shrink: 1;
      flex: 458px;
      width:100%;
    }
  }
}
@media all and (max-width: 970px) {
  .catalog-clinic-box{
    &_item{
      flex-direction: column;
      align-items: center;
    }
    &_content{
      margin:30px 0 0;
      .button{
        margin-top:30px;
      }
    }
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body.active{
    overflow: hidden;
    position: relative;
    left: 256px;
  }
  .nav-mobile{
    width:40px;
    height:4px;
    background: #51cfff;
  }
  .header-middle{
    flex-grow: 1;
  }
  .callback{
    &.button{
      padding:10px;
    }
    span{
      display: none;
    }
    .icon-phone{
      margin:0;
    }
  }
  .header-top{
    border-bottom:none;
    align-self: center;
    margin-right:20px;
    &_menu-nav-mobile{
      display: block;
      position: relative;
      width:40px;
      background: #fff;
      padding:10px 0;
      &:after,
      &:before{
        content:'';
        display: block;
        position: absolute;
        width:40px;
        height:4px;
        background: #51cfff;
      }
      &:before{
        top:0;
      }
      &:after{
        bottom:0;
      }
    }
    &_menu-nav{
      width:80%;
      flex-direction: column;
      text-align: center;
      position: fixed;
      left: 0;
      top:0;
      width:256px;
      background: #fff;
      z-index: 1;
      justify-content: flex-start;
      height:100vh;
      margin-left: -256px;
      transition: all .25s;
      &.active{
        margin-left: 0;
      }
      .menu-nav_item{
        padding:21px 0;
      }
    }
  }
  .header-bottom{
    &_nav{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .footer-top{
    display: none;
  }
  .footer-bottom{
    .container {
      justify-content: center;
    }
    &_menu-nav{
      display: none;
    }
  }
  .service-list{
    margin-left:-10px;
    justify-content:space-around;
    &_item{
      //padding-left:10px;
      width:266px;
    }
  }
  .call-question-box{
    &_content{
      flex-direction: column;
      padding-bottom:20px;
      .content-right,
      .content-left{
        width:100%;
      }
      .input-multi .input{
        flex-grow:1;
        max-width:100%;
      }
    }
  }
  .article-box{
    &_content{
      justify-content: space-around;
    }
  }
  .info-box{
    &_img{
      display: none;
    }
    &_text,
    &_tab{
      width:100%;
    }
  }
  .process-box,
  .question-box,
  .info-box{
    .scroll-box{
      width:100%;
    }
    .tab-controls{
      width:100%;
      padding-bottom:20px;
      .tab{
        display: block;
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .tab-content{
    display: none;
  }
  .question-box{
    .text-head{
      color: #000;
    }
    &_text{
      max-height:100%;
      padding: 15px 16px 20px;
      min-height: 100%;
    }
  }
  .info-box{
    &_text{
      padding-right:20px;
      padding-bottom:20px;
    }
    .button-tab.active{
      border-color: transparent;
    }
  }
  .card-box,
  .catalog-box-list{
    flex-direction: column;
    align-items: center;
    &_content{
      margin-top:30px;
      margin-left:0;
    }
  }
  .catalog-box-list{
    &_menu{
      width:100%;
      text-align: center;
    }
    &_content{

    }
  }
}
@media all and (max-width: 850px){
  .header-bottom {
    width:100%;
    text-align: center;
    .container{
      flex-direction: column;
    }
    &_nav{
      flex-direction: column;
      padding-bottom:20px;
      .nav-item{
        border-bottom:1px solid #c1e1f5;
        &:before{
          display: none;
        }
      }
    }
  }
  .news-in-box{
    margin:30px 0 0 0;
    &_img{
      margin:0 auto;
      float: none;
    }
    &_text{
      margin-top:30px;
    }
  }
  .map{
    max-width: 100%;
  }
  .contact-box{
    flex-direction: column;
    &_left{
      width:100%;
      text-align: center;
    }
  }
}

@media all and (max-width: 780px) {
  .lang-switch{
    &_text{
      display: none;
    }
    .icon-arrow-down{
      margin-left:10px;
    }
  }
  h1{
    font: 24px/24px PT;
  }
  h2{
    font: 100 20px/20px SFUI;
  }
  .section{
    padding:30px 0;
  }
}
@media all and (max-width: 664px){
  .header-middle{
    &_number{
      display: none;
    }
  }
  .process-box_video{
    height:340px;
  }
  .section-head {
    .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .button {
      align-self: center;
      margin:10px 0 0 0;
    }
    .button ~ .button{
      margin:10px 0 0 0;
      display: block;
      padding-left:10px;
    }
  }
  .record-box{
    text-align: center;
    .submit {
      width:200px;
    }
  }
  .call-question-box{
    .submit{
      //width:200px;
    }
  }
  .input-multi {
    flex-direction: column;
    .input~.submit{
      margin:10px auto 0;
    }
    .input~.input{
      margin:10px 0 0 0;
    }
  }
  .table-box{
    tr{
      display: flex;
      flex-direction: column;
    }
    th:first-child,
    td:first-child{
      text-align: center;
      padding-left:0;
    }
  }
}
@media all and (max-width: 456px){
  .paginator{
    margin-left:-4px;
    &_item,
    &_prev,
    &_next{
      padding:10px 0;
      align-self: center;
      margin-left:4px;
    }
  }
  .bc-item{
    font-size:10px;
  }
  .button{
    padding:16px 10px;
  }
  .question-box .tab-controls{
    padding: 24px 10px 24px;
  }
  .info-box{
    &_text{
      padding: 24px 10px 24px;
    }
  }
  .call-question-box{
    .content-left_img{
      display: none;
    }
  }
  .header{
    flex-direction:column;
    .header-top{
      align-self: auto;
    }
    .header-middle{
      flex-wrap: wrap;
      .container{
        flex-wrap: wrap;
        justify-content:space-around;
        .logo{
          padding:0 18px;
        }
        .callback{
          margin:10px 20px;
        }
      }
    }
  }
  .process-box{
    .tab-controls{
      padding:10px;
    }
    &_video{
      height:200px;
    }
  }
  .call-question-box{
    .content-left_text{
      width:100%;
      text-align: center;
    }
  }
  .popup-item{
    padding: 19px 23px 25px;
    .input-radio{
      flex-wrap: wrap;
    }
    .select {
      width:100%;
      margin-top:10px;
      select{
        width:100%;
      }
    }
    .popup-heading{
      font-size:24px;
    }
  }
}