footer.footer
    .container.footer_box
        .copyright
            p 2016 © Интернет магазин “Империя дверей”
        .main-nav
            a(href="").main-nav_item Магазины
            a(href="").main-nav_item Как купить
            a(href="").main-nav_item Как купить
            a(href="").main-nav_item Сотрудничество
            a(href="").main-nav_item Новости
            a(href="").main-nav_item Статьи
script(src="http://maps.googleapis.com/maps/api/js")
script(src="js/app.js")

