header.header
    .header-top
        .container.header-top_box
            .main-nav
                a(href="").main-nav_item Магазины
                a(href="").main-nav_item Как купить
                a(href="").main-nav_item Как купить
                a(href="").main-nav_item Сотрудничество
                a(href="").main-nav_item Новости
                a(href="").main-nav_item Статьи
            .schedule
                .schedule_icon
                    .icon-clock
                .schedule_text Пн-Вс с 9:00 до 21:00,доставка без выходных
            .search
                .search_input
                    input(type="text" placeholder="Поиск по сайту")
                .search_icon
                    .icon-search
    .header-middle
        .container.header-middle_box
            a(href="").logo
                img( alt="" src="img/logo.png")
            .header-callback
                .header-callback_number +7 (499) 281 63 21
                .header-callback_text Москва, 41 км МКАД, <br/> рынок Мельница
                .callback.button(data-popup-open="#popup-callback")
                    .callback_icon
                        .icon-phone
                    .callback_text Обратный звонок
                a(data-popup-open="#popup-size").button.button-yellow Бесплатный вызов замерщика
            .header-info
                .header-info_item
                    .header-info_icon
                        .icon-hi-1
                    .header-info_text Свободная <br/> парковка
                .header-info_item
                    .header-info_icon
                        .icon-hi-2
                    .header-info_text Лучшая выставка всех <br/> брендов <strong>1500 образцов</strong>
            a(href="").card
                .card_icon
                    .icon-card
                .card_content
                    .card_head Ваша<br/> корзина
                    .card_count 3 товара
                    .card_summ на сумму 5000 р

    .header-bottom
        .container.header-bottom_box
            .second-nav
                .second-nav_box
                    a(href="").second-nav_item Входные двери
                    .second-nav_dropdown
                        a(href="").second-nav_dropdown_item
                            .second-nav_dropdown_img
                                img( alt="" src="img/content/sn.png")
                            .second-nav_dropdown_text Металические <br/>двери
                        a(href="").second-nav_dropdown_item
                            .second-nav_dropdown_img
                                img( alt="" src="img/content/sn.png")
                            .second-nav_dropdown_text Двери с художественной <br/> ковкой
                        a(href="").second-nav_dropdown_item
                            .second-nav_dropdown_img
                                img( alt="" src="img/content/sn.png")
                            .second-nav_dropdown_text Декоративные панели <br/> для в ходных дверей
                .second-nav_box
                    a(href="").second-nav_item Межкомнатные двери
                .second-nav_box
                    a(href="").second-nav_item Фурнитура
                    .second-nav_dropdown
                        a(href="").second-nav_dropdown_item
                            .second-nav_dropdown_img
                                img( alt="" src="img/content/sn.png")
                            .second-nav_dropdown_text Дверные ручки
                        a(href="").second-nav_dropdown_item
                            .second-nav_dropdown_img
                                img( alt="" src="img/content/sn.png")
                            .second-nav_dropdown_text Дверные замки
                        a(href="").second-nav_dropdown_item
                            .second-nav_dropdown_img
                                img( alt="" src="img/content/sn.png")
                            .second-nav_dropdown_text Дверные петли
                .second-nav_box
                    a(href="").second-nav_item Строительные двери
            .brand-select
                .brand-select_item
                    .brand-select_text Производители
                    .brand-select_img
                .brand-select_icon
                    .icon-arrow-down
                .brand-select_dropdown
                    a(href="").brand-select_item
                        .brand-select_text 1
                        .brand-select_img
                    a(href="").brand-select_item
                        .brand-select_text 1
                        .brand-select_img
            .button.button-special спецпредложениЯ