doctype html
html(lang="ru")
    head
        title ImperiaDoors
        meta(charset="UTF-8")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="img/sprite.css")
        //meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

    body
        include ./head
        main
            block content
        include ./bottom
        .popup-wrap.fadable.fading.align-middle-box
            #popup-callback.popup-item
                .popup-heading
                    h3 обраТный звонок
                .popup-content
                    form
                        .input-line
                            span.input
                                input(type="text" placeholder="Ваше имя")
                        .input-line
                            span.input
                                input(type="text" placeholder="Ваш телефон")
                        span.popup-text Когда вам позвонить?
                        .input-radio
                            span.radio
                                input(type="radio" name="radio" id="rd-1")
                                label(for="rd-1") Сегодня
                            span.radio
                                input(type="radio" name="radio" id="rd-2" )
                                label(for="rd-2") Завтра
                            span.select
                                select
                                    option 12:00
                                    option 11:00
                                    option 09:00
                                span.icon-arrow-down
                        .input-line.input-submit
                            input(type="submit" value="Заказать").button
                span.icon.icon-close.icon-close-popup(data-popup-close='')
            #popup-size.popup-item
                .popup-heading
                    h3 закажите бесплтаный замер
                .popup-content
                    form
                        .input-line
                            span.input
                                input(type="text" placeholder="Ваше имя")
                        .input-line
                            span.input
                                input(type="text" placeholder="Ваш телефон")
                        .input-line
                            span.input
                                input(type="email" placeholder="E-mail")
                        .input-line
                            span.input
                                textarea(placeholder="Адрес").adress-input
                        .input-line
                            span.textarea
                                textarea(placeholder="Комментарий")
                        .input-line.input-submit
                            input(type="submit" value="Заказать").button
                span.icon.icon-close.icon-close-popup(data-popup-close='')
            #popup-thanks-callback.popup-item.popup-thanks
                .popup-heading
                    h3 спасибо за ваще обращение!
                .popup-content
                    span.popup-text Мы свяжемся с вами завтра в 13:00 по телефону
                    .popup-number 8 800 345 33 55
                span.icon.icon-close.icon-close-popup(data-popup-close='')
            #popup-thanks-size.popup-item.popup-thanks
                .popup-heading
                    h3 спасибо за ваще обращение!
                .popup-content
                    span.popup-text Мы свяжемся с вамипо телефону, чтобы<br/> согласовать удобное время для визита замерщика
                span.icon.icon-close.icon-close-popup(data-popup-close='')