mixin product-info_item(title,text,img)
    a(href="").product-info_item
        span.product-info_content
            span.product-info_head!= title
            span.product-info_text!= text
        span.product-info_img
            img( alt="" src="img/content/"+img)
mixin service-box_item(img,text)
    .service-box_item
        .service-box_img
            img( alt="" src="img/content/"+img)
        .service-box_text!= text
mixin product_item(img,title,text,summ,special,button)
    .product_item
        .product_img
            img( alt="" src="img/content/"+img)
            if special
                .special
                    span= special
            else
        a(href="").product_title!= title
        .product_text!= text
        .product_summ!= summ
        if button == "buttonOff"
        else
            a(href="").button-buy
                .button-buy_icon
                    .icon-buy
                span В корзину
mixin article-box_item(img,title,text,special)
    article.article-box_item
        .article-box_img
            img( alt="" src="img/content/"+img)
            if special
                .special
                    span= special
            else
        .article-box_content
            a(href="").article-box_title!= title
            .article-box_text
                p!= text
mixin dt(dt,dd)
    dt!= dt
    dd!= dd
mixin paginator
    .paginator
        a(href="").paginator_prev Предыдущая
        .paginator_item.active 1
        a(href="").paginator_item 2
        a(href="").paginator_item 3
        a(href="").paginator_item 4
        a(href="").paginator_item 5
        a(href="").paginator_next Следующая