footer.footer
    .footer-top
        .container
            a(href="#top")#menu.anchor
                .icon-anchor
            .footer-top_nav
                +nav_item('Диагностика')
                +nav_item('Лечение')
                +nav_item('Косметические процедуры')
                +nav_item('Детокс')
                +nav_item('Курортные предложения')
            a(href="href").button.button-border Отправить запрос на лечение
    .footer-bottom
        .container
            .copyright 2016 © Медицина в Австрии. Разработка сайта - Mindthedigital.com
            .footer-bottom_menu-nav
                +menu-nav_item('О компании')
                +menu-nav_item('Наши клиники')
                +menu-nav_item('Как происходит лечение')
                +menu-nav_item('Новости')
                +menu-nav_item('Контакты')
script(src="js/app.js")
script(src="js/jquery.nanoscroller.js")