header.header#top
    .header-top
        .container
            .header-top_menu-nav-mobile
                .nav-mobile
            .header-top_menu-nav
                +menu-nav_item('О компании')
                +menu-nav_item('Наши клиники')
                +menu-nav_item('Как происходит лечение')
                +menu-nav_item('Новости')
                +menu-nav_item('Контакты')
    .header-middle
        .container
            a(href="/").logo
                img(src="img/logo.png")
            .header-middle_number +7 (967) 234 32 17

            a(href="" data-popup-open="#popup-callback").callback.button
                    .icon-phone
                    span Обратный звонок
            .lang-switch
                .lang-switch_main
                    span.icon-lang-rus
                    span.lang-switch_text Русский
                    .icon-arrow-down
                .lang-switch_dropdown
                    a(href="href").dropdown-item
                        span.icon-lang-rus
                        span.lang-switch_text Русский

    .header-bottom
        .container
            .header-bottom_nav
                +nav_item('Диагностика')
                +nav_item('Лечение')
                +nav_item('Косметические процедуры')
                +nav_item('Детокс')
                +nav_item('Курортные предложения')
            a(href="href").button.button-border Отправить запрос на лечение

