doctype html
html
    head
        title
        meta(charst="UTF-8")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/nanoscroller.css")
        link(rel="stylesheet", href="img/sprite.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

    body
        include ./head
        block content
        include ./bottom
        .popup-wrap.fadable.fading.align-middle-box
            #popup-callback.popup-item
                    .popup-heading
                        h1 Закажите <br/> обратный звонок
                    .popup-content
                        form
                            .input-line
                                span.input
                                    input(type="text" placeholder="Ваше имя")
                            .input-line
                                span.input
                                    input(type="text" placeholder="Ваш телефон")
                            span.popup-text Когда вам позвонить?
                            .input-radio
                                span.radio
                                    label(for="rd-1") Сегодня
                                    input(type="radio" name="rd-1" id="rd-1")
                                span.radio
                                    label(for="rd-2") Завтра
                                    input(type="radio" name="rd-1" id="rd-2")
                                span.select
                                    .icon-arrow-down
                                    select
                                        option 12:00
                                        option 11:00
                                        option 09:00
                            .input-line.input-submit
                                input(type="submit" value="Заказать").button
                    span.icon.icon-close.icon-close-popup(data-popup-close='')
            #popup-thanks.popup-item
                .popup-heading
                    h1 Спасибо <br/> за Ваше обращение
                .popup-content
                    span.thanks-text Мы свяжемся с Вами завтра<br/> в 13:00 по телефону +7 (495) 334 33 22
                span.icon.icon-close.icon-close-popup(data-popup-close='')