mixin menu-nav_item(title)
    a(href='/').menu-nav_item= title

mixin nav_item(title)
    a(href='/').nav-item= title
mixin service-list_item(icon,title,icon2)

    a(href='/').service-list_item
        .icon-sl
         span(class= icon)
        span.text= title
        if icon2 == "yes"
            .icon-wrap
                span.icon-arrow
        else

mixin article-box_item(img,data,title,text)
    article.article-box_item
        .item-head
            .item-head_img
                img(src="img/content/"+img+"")
            .item-head_data= data
        .item-content
            a(href="/").item-content_head= title
            .item-content_text= text
            .item-content_comment
                .icon-wrap.icon-comments
                .comment-count 223
mixin catalog-clinic-box_item(img,h3,h4,text)
    .catalog-clinic-box_item
        .catalog-clinic-box_img
            img(src="img/content/"+img)
        .catalog-clinic-box_content
            .catalog-clinic-box_head
                h3= h3
                h4= h4
            .catalog-clinic-box_text
                p= text
                a(href="").button.button-border Узнать больше о клинике