

/*::-webkit-input-placeholder {}*/

/*::-moz-placeholder {}*/ /* firefox 19+ */

/*:-moz-placeholder {}*/ /* firefox 18- */

/*:-ms-input-placeholder {}*/ /* ie */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font: inherit;
  font-size: 100%;
  vertical-align: top;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

b, u, i, strong, em {
  vertical-align: baseline;
}
strong,b{
  font-weight:bold;
}
html,
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #3c3430;
}

*,
*:before,
*:after {
  outline: none;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a {
  transition: opacity .15s linear, color .15s linear, background-color .15s linear, border-color .15s linear;
}

a:link {
}

a:visited {
}

a:active {
}

a:hover {
}

a:focus {
}

p {
  font:normal 14px/20px Lato;
  color: #38312d;
}

p + p {
  margin-top:26px;
}

h1 {
  font:bold 30px/30px Lato;
  color: #463d38;
  text-transform: uppercase;
  margin-bottom:24px;
}

h2 {
  font:bold 25px/26px Lato;
  color: #463d38;
  text-transform: uppercase;
  margin-bottom:34px;
}
h2~h2{
  margin-top:72px;
}
h3 {
  font:bold 20px/22px Lato;
  color: #463d38;
  text-transform: uppercase;
}

h4 {
}

ol, ul {
  list-style: none;
}

li {
}

.justify {
  text-align: justify;
  margin-bottom: 0;
  line-height: 0;
}

.justify > * {
  display: inline-block;
}

.justify:after {
  height: 20px;
  display: inline-block;
  width: 100%;
  content: '';
}

.align-middle-box {
  font-size: 0;
}

.align-middle-box > *,
.align-middle-box:before{
  display: inline-block;
  vertical-align: middle;
}

.align-middle-box:before{
  height: 100%;
  content: '';}

.group:after,
.input-line:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}
.vertical-middle-flex{
  display: flex;
  *{
    align-self: center;
  }
}
::-webkit-input-placeholder {color:#aea99c;}
::-moz-placeholder          {color:#aea99c;}/* Firefox 19+ */
:-moz-placeholder           {color:#aea99c;}/* Firefox 18- */
:-ms-input-placeholder      {color:#aea99c;}
// tab

.tab{
  transition: all .25s;
  display: none;
  &.fadable {
    transition: visibility .3s ease, opacity .3s ease;
  }
  &.fading {
    opacity: 0;
    visibility: hidden;
  }
  &.active{
    display: block;
  }
}
/**
 * Owl Carousel v2.1.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  //-webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next{
  position: absolute;
  top:152px;
  margin-top:-13px;
}
.owl-carousel .owl-nav .owl-prev{
  left:0;
  background: url('../img/sprite/slider-prev.png');
  //background-position: -48px 0px;
  width: 16px;
  height: 26px;
}
.owl-carousel .owl-nav .owl-next{
  right:0;
  background: url('../img/sprite/sllider-next.png');
  //background-position: -48px -26px;
  width: 16px;
  height: 26px;
}
.owl-carousel.owl-loaded {
  display: block; }
.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }
.owl-carousel.owl-hidden {
  opacity: 0; }
.owl-carousel.owl-refresh .owl-item {
  display: none; }
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }
.owl-carousel.owl-rtl {
  direction: rtl; }
.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }
// popup
.fading {
  opacity: 0;
  visibility: hidden;

}
.fadable {
  transition: visibility .3s ease, opacity .3s ease;
}
.popup-view {
  overflow: hidden;}

.popup-wrap {
  text-transform: none;
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  background: rgba(28, 28, 28, .4);
  padding: 30px;
  overflow-y: scroll;}

.popup-wrap.active {
  display: block;}

.popup-view .wrapper {
  overflow-y: scroll;}


.popup-item.active {
  display: inline-block;}

.popup-item {
  position: relative;
  display: none;}

[data-popup-open]{
  cursor:pointer;}





























