/* default style */

html, body{
  font-family:Lato, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

/* /end default */



/* form style */
input[type="text"],
input[type="email"],
input[type="password"]{
  border: 1px solid #ded7cc;
  vertical-align: top;
  font:14px/20px Lato;
  padding:16px 20px;
  width:100%;
  background: #faf8f5;
}
textarea{
  resize: none;
  font:14px/20px Lato;
  border: 1px solid #ded7cc;
  padding: 16px 20px;
  width:100%;
}
input[type="submit"]{
  border:none;
}
.input-line~.input-line{
  margin-top:20px;
}
.input-inline {
  display: flex;
  align-items: center;
  &~&{
    margin-top:18px;
  }
  label {
    color: #38312d;
  }
}
.input{
  width:100%;
}
label{
  font:14px/20px Lato;
  color: #2c2c2c;
  padding-left:8px;
}

input[type="checkbox"]{
  border-radius:2px;
  width:20px;
  height:20px;
  border:1px solid #f2f2f2;
  cursor: pointer;
  &:checked:after{
    content:'';
    display: inline-block;
    background: url('../img/sprite.png');
    background-position: -88px -36px;
    width: 12px;
    height: 9px;
    margin:4px 4px;
  }
}
input[type="radio"]{
  display: inline-block;
  width:16px;
  height:16px;
  background: #fff;
  border-radius:50%;
  position: relative;
  cursor: pointer;
  border:1px solid #463d38;
  margin:0px 7px 0 0;
}
.radio{
  display: flex;
  align-items: center;
  label{
    display: inline-block;
    margin-bottom:0;
    padding:12px 0;
    cursor: pointer;
  }
}
input[type="radio"]:checked:after{
  content:'';
  display: block;
  width:6px;
  height:6px;
  border-radius:50%;
  left:50%;
  top:50%;
  background: #463d38;
  margin:-3px;
  position: absolute;
}
.input-radio {
  display: flex;
  justify-content:space-between;
}
/* /end form */

/* layout style */
.container{
  max-width:1170px;
  padding:0 15px;
  margin:0 auto;
  font-size:0;
}
.button{
  font:12px/14px Lato;
  cursor: pointer;
  background: #463d38;
  display: inline-block;
  padding:15px 30px;
  color: #fff;
  transition: all .25s;
  text-decoration: none;
  &:hover{
    background: #302a26;
  }
}
.button.button-yellow{
  background: #fee611;
  color: #463d38;
  padding:11px 15px;
  &:hover{
    background: #f6c000;
  }
}
.header-info{
  display: flex;
  flex-flow:column wrap;
  width:186px;
  margin-top:-6px;
  &_item{
    margin-top:6px;
    display: flex;
  }
  &_icon{
    margin:3px 13px 0 0;
  }
  &_text{
    font:14px/17px Lato;
    color: #463d38;
  }
}
/* /end layout */

/* header style */
.header-top{
  background: #f5f2eb;
  padding:7px 0;
  &_box{
    display: flex;
    justify-content:space-between;
    *{
      align-self:center;
    }
  }
}
.main-nav{
  width:530px;
  display: inline-flex;
  justify-content:space-between;
  &_item{
    font:normal 13px/14px Lato;
    text-decoration: none;
    color: #3c3430;
    border-bottom:1px solid #a7a39d;
    transition: all .25s;
    &:hover{
      border-bottom:1px solid transparent;
    }
  }
}
.schedule{
  display: inline-flex;
  margin-left:20px;
  &_icon{
    align-self: center;
    margin-right:9px;
  }
  &_text{
    font:normal 13px/14px Lato;
    color: #463d38;
  }
}
.search{
  display: inline-flex;
  &_input{
    width:206px;
    input[type="text"]{
      padding:5px 15px ;
      border-radius:15px;
      border:none;
      background: #fff;
    }
  }
  &_icon{
    margin:0 0 0 -29px;
  }
}
.header-middle{
  padding:30px 0;
  &_box{
    display: flex;
    justify-content:space-between;
  }
}
.logo{
  width:262px;
  margin-top:5px;
}
.header-callback{
  width:392px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  &_number{
    font:bold 30px/30px Lato;
  }
  &_text{
    font:12px/15px Lato;
    color: #463d38;
  }
  .button{
    margin-top:10px;
  }
}
.callback{
  display: inline-flex;
  color: #fee611;
  padding:10px 22px;
  &:hover{
    background: #594e49;
  }
  *{
    align-self: center;
  }
  &_icon{
    margin-right:12px;
  }
}
.card{
  text-decoration: none;
  display: flex;
  margin-top:5px;
  &_content{
    margin:-1px 0 0 11px;
  }
  &_head{
    font:bold 16px/16px Lato;
    color: #303030;
  }
  &_count{
    font:14px/14px Lato;
    color: #463d38;
    margin-top:4px;
  }
  &_summ{
    font:14px/14px Lato;
    color: #2d5696;
    border-bottom:1px solid #a9b5ce;
    margin-top:3px;
  }
}
.header-bottom{
  background: url('../img/bg-bottom.png');
  &_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.second-nav{
  width:726px;
  display: inline-flex;
  justify-content: space-between;
  align-items:center;
  z-index: 2;
  &_item{
    text-decoration: none;
    font:bold 16px/16px Lato;
    color: #e5dfcf;
    text-transform: uppercase;
    padding:21px 0;
    &:hover{
      color: #fff;
    }
  }
  &_box{
    position: relative;
    display: flex;
    &:hover .second-nav_dropdown{
      display: flex;
    }
  }
}
.second-nav_dropdown{
  flex-direction: column;
  display: none;
  position: absolute;
  left:0;
  top:56px;
  width:296px;
  &_item{
    display: flex;
    transition: all .25s;
    background: #38312d;
    padding:23px 10px 20px 36px;
    text-decoration: none;
    &:hover .second-nav_dropdown_text{
      color: #fff;
    }
    &:hover{
      background: #3e3632;
    }
  }
  &_img{
    margin-right:30px;
  }
  &_text{
    font:14px/20px Lato;
    color: #e5dfcf;
    text-transform: none;
  }
}
.brand-select{
  display: inline-flex;
  position: relative;
  padding:11px 11px 11px 18px;
  border:1px solid #736861;
  border-radius:2px;
  cursor: pointer;
  margin-left:44px;
  transition: all .25s;
  &:hover{
    border:1px solid #fff;
  }
  &_icon{
    margin:3px 0 0 25px;
  }
  &_text{
    font:14px/14px Segoe;
    color: #e5dfcf;
  }
  &_dropdown{
    display: none;
  }
}
.button.button-special {
  text-transform: uppercase;
  background: #e5dfcf;
  color: #303030;
  font-weight:500;
  padding: 12px 15px;
  &:hover{
    background: #cfc9ba;
  }
}
/* /end header */

/* footer style */
.footer {
  background: #463d38;
  padding:21px 0;
  &_box{
    display: flex;
    justify-content: space-between;
  }
  .main-nav_item{
    color: #fff;
    border-bottom:1px solid #aaa6a0;
    margin-top: -1px;
    &:hover{
      border-bottom:1px solid transparent;
    }
  }
}
.copyright {
  p{
    font:13px/14px Segoe;
    color: #ffffff;
  }
}
/* /end footer */

/* content style */
.slider-main{
  display: inline-flex;
  width:750px;
  border:3px solid #fee611;
  &_item{
    position: relative;
    //border:3px solid #fee611;
    //height:415px;
  }
  &_img{
    img{
      max-height: 409px;
      height:100%;
    }
    .special {
      top: 22px;
      left: 28px;
    }
  }
  &_content{
    position: absolute;
    bottom:43px;
    left:38px;
  }
  &_head{
    h1{
      font:bold 40px/37px Lato;
      color: #fff;
    }
    .light{
      font-weight:300;
    }
  }
  &_text{
    margin-top:20px;
    p{
      color: #fff;
    }
    .button{
      margin-top:20px;
    }
  }
}
.button.button-border{
  border:3px solid #fff;
  background: transparent;
  font:14px/20px Lato;
  padding:17px 44px;
  &:hover{
    color: #3e3632;
    background: #ebe3d5;
  }
}
.section{
  padding:36px 0;
}
.product-info{
  display: inline-flex;
  flex-direction: column;
  margin:-20px 0 0 30px;
  &_item{
    border:3px solid #ded6c5;
    width:360px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    padding:0 18px 0 24px;
    margin-top:20px;
    min-height: 125px;
  }
  &_img{
    flex:0 0 130px;
  }
  &_head{
    font:bold 20px/20px Lato;
    color: #463d38;
    text-transform: uppercase;
    display: block;
  }
  &_text{
    font:14px/14px Lato;
    color: #aea99c;
    margin-top:4px;
    display: block;
  }
}
.service-box{
  display: flex;
  justify-content:space-between;
  width:1070px;
  padding:0 30px;
  margin-top:33px;
  &_item{
    display: flex;
    align-items: flex-start;
  }
  &_text{
    font:16px/20px Lato;
    color: #463d38;
    margin:-5px 0 0 15px;
  }
  &_img{
    max-width:32px;
  }
}
.fadeOut  {
  -webkit-animation-name : fadeOut  ;
  animation-name : fadeOut  ;
}
.slider-product {
  .product{
    &_img{
      img {
        max-height: 326px;
        height: 100%;
      }
    }
    &_item{
      width:186px;
    }
  }
}
.product {
  &_item {
    width: 212px;
    text-align: center;
    margin: 0 auto;
  }
  &_img {
    position: relative;
    display: inline-block;
    min-height: 138px;
  }
  &_title {
    font: bold 18px/18px Lato;
    color: #463d38;
    margin-top: 28px;
    text-decoration: none;
    display: block;
  }
  &_text {
    font: 18px/18px Lato;
    color: #463d38;
    margin-top: 3px;
  }
  &_summ {
    font: bold 18px/18px Lato;
    color: #463d38;
    margin-top: 10px;
  }
}
.special{
  font:500 14px/14px Lato;
  background: #fee611;
  padding:6px 14px;
  color: #303030;
  position: absolute;
  top:29px;
  left:-12px;
  text-transform: uppercase;
  &:after{
    content:'';
    width: 2px;
    height: 3px;
    display: inline-block;
    position: absolute;
    left: 3px;
    bottom: -9px;
    border: 9px solid transparent;
    border-right: 9px solid #f6c000;
    transform: rotate(135deg);
  }
}
.button-buy{
  color: #fff;
  background: #463d38;
  font:bold 14px/14px Lato;
  padding:15px 21px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin-top:11px;
  .icon-buy{
    margin-right:10px;
  }
}
.section-gray {
  background: #f5f2eb;
}
.slider-box~.slider-box{
  margin-bottom: 72px;
}
.info-box{
  display: flex;
  &_img{
    width:554px;
  }
  &_content{
    margin:48px 0 0 30px;
    width:514px;
    .link{
      margin-top:24px;
    }
  }
}
.link {
  font:14px/20px Lato;
  color: #38312d;
  border-bottom:1px solid #acaaa9;
  text-decoration: none;
  display: inline-block;
  &:hover{
    border-bottom:1px solid transparent;
  }
  &.link-small{
    font-size: 12px;
    color: #c1bdb3;
    line-height: 14px;
    border-bottom:1px solid #c1bdb3;
    &:hover{
      border-bottom:1px solid transparent;
    }
  }
}

.article-box{
  display: flex;
  justify-content: space-between;
  &_item{
    width:360px;
  }
  &_img{
    position: relative;
    width:360px;
  }
  &_content{
    background: #f5f2eb;
    padding:22px;
  }
  &_title{
    font:bold 16px/20px Lato;
    text-decoration: none;
    color: #463d38;
  }
  &_text{
    margin-top:18px;
  }
}
.form-box{
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
  margin:-36px 0;
  &_info{
    width:290px;
    h1 {
      font:bold 44px/52px Lato;
      color: #463d38;
    }
    margin-bottom:120px;
  }
  &_number{
    font:bold 30px/30px Lato;
    color: #463d38;
  }
  &_input{
    width:362px;
    margin:0 0 42px 64px;
  }
  &_img{
    margin-left:-64px; 
  }
}
.section-white{
  background: #faf8f5;
}
.map-box{
  #map {
    width:780px;
    height:458px;
  }
  display: flex;
  &_info{
    background: #faf8f5;
    padding:58px 10px 58px 68px;
    width:360px;
  }
  &_item{
    display: flex;
    width: 206px;
    cursor: pointer;
    &~&{
      margin-top:60px;
    }
  }
  &_number{
    margin-top:9px;
    p{
      font-size:20px;
      color: #463d38;
      font-weight:bold;
    }
  }
  &_img{
    margin-right:11px;
  }
}
.map-selection{
  .map-box_item~.map-box_item{
    margin-top:20px;
  }
  &.map-box{
    #map {
      width:754px;
      height:440px;
      border:3px solid #e0d8c8;
    }
  }
  .map-box{
    &_info{
      background: #fff;
      padding:5px 30px;
    }
    &_item{
      width:360px;
      align-items: center;
      transition: all .25s;
      cursor: pointer;
      padding:39px 28px;
      &.active,
      &:hover{
        border:3px solid #fee611;
      }
      border:3px solid #ded6c5;
    }
    &_img{
      margin-right:16px;
    }
    &_text{
      p{
        color: #463d38;
      }
    }
  }
}
.bc-wrap{
  margin-top:30px;
}
.bc-item{
  font:14px/14px Lato;
  color: #cac7be;
  display: inline-block;
  &:after{
    content:'/';
    display: inline-block;
    color: #cac7be;
    font:14px/14px Lato;
    margin:0 8px;
  }
  &:last-child:after{
    display: none;
  }
  a{
    color: #2d5696;
    text-decoration: none;
    font:14px/14px Lato;
    border-bottom:1px solid #a9b5ce;
  }
}
.card-box{
  .slider-product_summ{
    font-size:30px;
    line-height:30px;
  }
  &_preview{
    position: relative;
    margin-bottom:52px;
    &-content{
      position: absolute;
      top:80px;
      right:166px;
      width:322px;
      .button {
        margin-top:9px;
      }
    }
  }
  &_img{
    width:1140px;
    border:4px solid #f2f2f2;
    min-height: 389px;
    display: flex;
    align-items: center;
    &_item{
      position: absolute;
      left: 386px;
      top: 55px;
      max-width: 151px;
      max-height:318px;
      img{
        height:318px;
      }
      &-2{
        left: 326px;
        top: 57px;
      }
    }
    &_min{
      img{
        margin-left: 86px;
      }
    }
    img{
      max-height: 504px;
    }
  }
  &_list{
    margin-top:22px;
    &-item{
      text-decoration: none;
      display: block;
      &~&{
        margin-top:10px;
      }
    }
    &-text{
      font-size:14px;
      color: #2d5696;
      border-bottom:1px solid #a9b2c2;
    }
    &-icon{
      display: inline-block;
      margin:5px 10px 0 0;
    }
  }
  &_determination {
    display: flex;
    justify-content: space-between;
    dl{
      width:554px;
    }
  }
}
dd,dt{
  color: #2c2c2c;
  font:bold 14px/16px Lato;
  padding:12px 0;
}
dt{
  font-weight: normal;
  float: left;
  margin-left:18px;
}
dd{
  padding-left:244px;
}
dd:nth-child(4n-2){
  background: #f2f2f2;
}
.product-box{
  display: flex;
  justify-content: space-between;
  .product{
    &_img{
      min-height:138px;
      align-self: center;
      display: flex;
      align-items: center;
      justify-content:center;
      img{
        max-height: 138px;
      }
    }
  }
}
.catalog-box{
  display: flex;
  justify-content: space-between;
  &_catalog{
    width:848px;
  }
  &_content{
    display: flex;
    justify-content: space-between;
    padding:0 37px;
    flex-wrap:wrap;
    margin-top:-80px;
    .product_item{
      margin-top:80px;
    }
  }
  &_sort{
    font:14px/14px Lato;
    color: #282828;
    margin:38px 0 45px -20px;
    span {
      margin-left:20px;
      &.active{
        font-weight:bold;
      }
    }
    .link {
      color: #2d5696;
      padding:0;
      border-bottom:1px solid #a9b5ce;
      line-height:14px;
      margin-left:20px;
    }
  }
}
.callback-box{
  display: flex;
  align-items: center;
  border:3px solid #f2f2f2;
  padding:0 36px 0 30px;
  &_img{
    width:120px;
  }
  &_text{
    margin-left:6px;
    h1{
      margin-bottom:0;
      text-transform: none;
    }
  }
  .button{
    margin-left:20px;
  }
}
.button-border-black{
  border:3px solid #282828;
  font-size:14px;
  color:#282828;
  background: transparent;
  padding:15px 36px;
  &:hover{
    background: transparent;
  }
}
.light{
  font-weight:300;
}
.paginator{
  display: flex;
  justify-content: center;
  font:14px/14px Lato;
  margin:60px 0 0 -6px;
  &_item,
  &_prev,
  &_next{
    font:14px/14px Lato;
    color: #463d38;
    text-decoration: none;
    border:3px solid #f2f2f2;
    padding:12px 15px;
    margin-left:6px;
    &:hover,
    &.active{
      background: #fee611;
      border:3px solid #fee611;
    }
  }
  &_next,
  &_prev{
    width:130px;
    text-align: center;
  }
  &_item{
    width:44px;
    padding:13px 0;
    text-align: center;
  }
}
.link-normal {
  font:14px/14px Lato;
  color: #2d5696;
  border-bottom:1px solid #a9b5ce;
  text-decoration: none;
}
.aside{
  width:260px;
  border:4px solid #f2f2f2;
  padding:21px 18px;
  &_category{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:-14px;
    .link-normal{
      margin-top:14px;
      &.active{
        color: #282828;
        border-bottom:1px solid transparent;
      }
    }
  }
  &_color{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding:0 2px;
    margin:-13px 0 0 -13px;
    width:273px;
    &-item{
      margin:13px 0 0 12px;
      &.active{
        border:1px solid #000;
      }
    }
    input[type="checkbox"]{
      width:33px;
      height:33px;
      border: 1px solid transparent;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      &:checked:after{
        content:'';
        display: inline-block;
        background: none;
      }
      &:checked{
        border:1px solid #000;
      }
    }
  }
  &_head{
    font:bold 18px/18px Lato;
    color: #463d38;
    margin-bottom:22px;
    &~&{
      margin-top:28px;
    }
  }
  &_check{
    margin-top:-4px;
    &-item{
      display: flex;
      align-items: center;
      margin-top:4px;
    }
  }
  &_check-multi{
    display: flex;
    flex-wrap: wrap;
    .aside_check-item{
      width:108px;
    }
  }
}
.color-1{
  background: #d08a6d;
}
.color-2{
  background: #b45e3c;
}
.color-3{
  background: #8a2502;
}
.color-4{
  background: #5a260a;
}
.color-5{
  background: #281814;
}
.color-6{
  background: #fee692;
}
.color-7{
  background: #fedd98;
}
.color-8{
  background: #fec487;
}
.color-9{
  background: #e09665;
}
.color-10{
  background: #ef9875;
}
.color-11{
  background: #ffdecb;
}
.color-12{
  background: #f8c1a8;
}
.spec-product{
  border:4px solid #f2f2f2;
  padding:46px 0 30px 0;
  margin-top:23px;
  text-decoration: none;
  display: block;
  .special{
    top:calc(100% - 76px);
  }
}
//popup
.popup-item{
  background: #ffffff;
  width:458px;
  padding:46px 48px;
  text-align: left;
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.35);
  h3{
    margin-bottom:28px;
  }
  input[type="text"],
  input[type="email"]{
    background: #fff;
    padding: 13px 20px;
  }
  .popup-text,
  label{
    font-size:14px;
    color: #aea99c;
    line-height:17px;
  }
  .popup-text{
    margin-top:26px;
    display: block;
  }
  .input-line{
    &~&{
      margin-top:18px;
    }
    &.input-submit{
      margin-top:16px;
    }
  }
  input[type="submit"]{
    font-size:14px;
  }
  textarea{
    height:140px;
  }
  .adress-input{
    height:98px;
  }
  .icon-close{
    position: absolute;
    top:16px;
    right:15px;
    cursor: pointer;
  }
}
.popup-number{
  font:bold 20px/20px Lato;
  color: #463d38;
  padding:12px 36px;
  background: #fee611;
  margin-top:21px;
}
.select{
  border:1px solid #ded6c5;
  display: flex;
  position: relative;
  .icon-arrow-down{
    position: absolute;
    right:18px;
    top:20px;
    z-index: 0;
  }
}
.popup-thanks{
  text-align: center;
}
select{
  border:none;
  padding:16px 57px 17px 18px;
  font:14px/14px Lato;
  color: #aea99c;
  position: relative;
  z-index: 1;
  background: transparent;
}
.article-box.column{
  flex-direction: column;
  margin-top:-30px;
  .article-box{
    &_item{
      display: flex;
      max-width:100%;
      width:100%;
      margin-top:30px;
    }
    &_content{
      min-height: 200px;
      padding:36px 62px 16px 32px;
    }
    &_img{
      flex:0 0 360px;
    }
  }
}
.section-payment{
  padding:36px 0 119px;
}
.basket-box{
  &_head{
    display: flex;
    justify-content: space-between;
    background: #f5f2eb;
    padding:18px 22px 18px 40px;
    &-item{
      font:bold 18px/18px Lato;
      color: #463d38;
      &.img{
        width:152px;
      }
      &.title{
        width:262px;
      }
      &.count{
        width:192px;
      }
      &.price{
        width:134px;
      }
      &.summ{
        width:192px;
      }
      &.delete{
        width:162px;
      }
    }
  }
  &_content{
    border:3px solid #f5f2eb;
    padding-bottom:27px;
  }
  &_item{
    margin:30px 22px 0 40px;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  &_img{
    width:152px;
    position: relative;
    img{
      max-height: 198px;
    }
  }
  &_title {
    width:262px;
    &-name{
      font:bold 18px/20px Lato;
      color: #463d38;
    }
    &-type{
      font:normal 18px/20px Lato;
      color: #463d38;
    }
  }
  &_count{
    width:192px;
    display: flex;
    input[type="text"]{
      width:107px;
      text-align: center;
      background: #fff;
      padding: 13px 20px;
    }
    &-up,
    &-down{
      padding:20px 15px;
      margin-right:-39px;
      z-index:1;
      cursor: pointer;
    }
    &-up{
      margin-left:-39px;
    }
  }
  &_price,
  &_summ{
    font:bold 18px/18px Lato;
    color: #463d38;
    width:134px;
  }
  &_summ{
    width:192px;
    display: flex;
  }
  &_delete{
    text-decoration: none;
    display: flex;
    cursor: pointer;
    width:162px;
    align-items: center;
    &-text{
      font:12px/12px Lato;
      color: #c1bdb3;
      border-bottom:1px solid #e1dfdb;
      margin-left:12px;
    }
  }
  &_total{
    font:bold 22px/22px Lato;
    color: #463d38;
    text-align: right;
    margin-top:23px;
  }
  &_form{
    margin-top:32px;
    width:552px;
    label{
      width:192px;
      flex:0 0 192px;
    }
    input[type="text"],
    input[type="email"]{
      padding:14px 20px;
      background: #fff;
      border:1px solid #ded6c5;
    }
    input[type="radio"]{
      border-color: #aea99c;
    }
    .input-radio{
      align-items:center;
      justify-content:flex-start;
      .radio{
        width: 262px;
      }
      label {
        flex:0 1 236px;
        color: #aea99c;
      }
      .select{
        margin-left: 4px;
      }
      &~.input-radio{
        margin-top:7px;
      }
      .link-small{
        margin-left: 10px;
      }
      select{
        width:100%;
        padding-right: 0px;
      }
      .select{
        width: 107px;
      }
    }
    .input-{
      &textarea{
        align-items: flex-start;
        textarea{
          height:110px;
        }
      }
      &checkbox,
      &submit{
        margin-left:192px;
        align-items: center;
        label {
          cursor: pointer;
        }
      }
      &submit{
        margin-top:28px;
      }
    }
    input[type="checkbox"]{
      border-color: #ded6c5;
      border-radius:4px;
    }
    input[type="submit"]{
      font-size:14px;
    }
  }
}
.input-multi{
  display: flex;
  justify-content: space-between;
  &_item{
    display: flex;
    align-items: center;
    width:262px;
    &~&{
      label {
        flex:0 0 130px;
        padding-left:0;
      }
      width:230px;
      input[type="text"]{
        width:100px;
      }
    }
    .input{
      width:70px;
    }
  }
}
.section-shop{
  .schedule{
    margin:42px 0 0;
  }
}
.how-come{
  display: flex;
  &_item{
    width:504px;
    &~&{
      margin-left:66px;
    }
  }
  &_title{
    font:bold 16px/16px Lato;
    margin:54px 0 22px;
  }
}
.header-callback{
  &_number{
    margin-top:14px;
  }
}
.shop-img{
  display: flex;
  justify-content: space-between;
  margin-top:58px;
  &_item{
    width:360px;
    img{
      max-height: 272px;
    }
  }
}
/* /end content */