extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item
                        a(href="/") Каталог
                    li.bc-item
                        a(href="/") Съемочная техника
                    li.bc-item Статьи
        section.section
            .container
                h2 Статьи
                .article-box.column
                    +article-box_item('ai-2.jpg','Открылся новый склад магазин восзде МКАД','Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей,модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантовисполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставкеи установке дверей под ключ. Оплатить покупку легко и просто. ')
                    +article-box_item('ai-1.jpg','Открылся новый склад магазин восзде МКАД','Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей,модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантовисполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставкеи установке дверей под ключ. Оплатить покупку легко и просто. ')
                    +article-box_item('ai-3.jpg','Открылся новый склад магазин восзде МКАД','Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей,модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантовисполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставкеи установке дверей под ключ. Оплатить покупку легко и просто. ')
                    +article-box_item('ai-2.jpg','Открылся новый склад магазин восзде МКАД','Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей,модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантовисполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставкеи установке дверей под ключ. Оплатить покупку легко и просто. ')
                +paginator









