extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item
                        a(href="/") Каталог
                    li.bc-item
                        a(href="/") Съемочная техника
                    li.bc-item Цифровые фотоапараты
        section.section
            .container
                h2 корзина товаров
                .basket-box
                    .basket-box_head
                        .basket-box_head-item.img Фото
                        .basket-box_head-item.title Наименование
                        .basket-box_head-item.count Кол-во
                        .basket-box_head-item.price Цена
                        .basket-box_head-item.summ Сумма
                        .basket-box_head-item.delete Удалить
                    .basket-box_content
                        .basket-box_item
                            .basket-box_img
                                img(src="img/content/basket-1.jpg")
                                .special
                                    span ХИТ
                            .basket-box_title
                                .basket-box_title-name Дверь металлическая
                                .basket-box_title-type Венеция
                            .basket-box_count(data-count-item)
                                .basket-box_count-down(data-count-control="-1")
                                    .icon-arrow-down
                                input(type="text" value="1" data-count-target)
                                .basket-box_count-up(data-count-control="+1")
                                    .icon-arrow-up
                            .basket-box_price 25 000 руб
                            .basket-box_summ
                                .basket-box_summ-val(data-count-val="25000")
                                .basket-box_summ-currency &nbsp;руб
                            .basket-box_delete
                                .basket-box_delete-icon
                                    .icon-close
                                .basket-box_delete-text Удалить из корзины
                        .basket-box_item
                            .basket-box_img
                                img(src="img/content/basket-1.jpg")
                                .special
                                    span ХИТ
                            .basket-box_title
                                .basket-box_title-name Дверь металлическая
                                .basket-box_title-type Венеция
                            .basket-box_count(data-count-item)
                                .basket-box_count-down(data-count-control="-1")
                                    .icon-arrow-down
                                input(type="text" value="1" data-count-target)
                                .basket-box_count-up(data-count-control="+1")
                                    .icon-arrow-up
                            .basket-box_price 25 000 руб
                            .basket-box_summ
                                .basket-box_summ-val(data-count-val="25000")
                                .basket-box_summ-currency &nbsp;руб
                            .basket-box_delete
                                .basket-box_delete-icon
                                    .icon-close
                                .basket-box_delete-text Удалить из корзины
                        .basket-box_item
                            .basket-box_img
                                img(src="img/content/basket-1.jpg")
                                .special
                                    span ХИТ
                            .basket-box_title
                                .basket-box_title-name Дверь металлическая
                                .basket-box_title-type Венеция
                            .basket-box_count(data-count-item)
                                .basket-box_count-down(data-count-control="-1")
                                    .icon-arrow-down
                                input(type="text" value="1" data-count-target)
                                .basket-box_count-up(data-count-control="+1")
                                    .icon-arrow-up
                            .basket-box_price 25 000 руб
                            .basket-box_summ
                                .basket-box_summ-val(data-count-val="25000")
                                .basket-box_summ-currency &nbsp;руб
                            .basket-box_delete
                                .basket-box_delete-icon
                                    .icon-close
                                .basket-box_delete-text Удалить из корзины
                    .basket-box_total
                        span.basket-box_total-text Итого : &nbsp;
                        span.basket-box_total-val(data-count-summ) 25 000
                        span.basket-box_total-currency &nbsp;руб

                    .basket-box_form
                        form
                            h2 контактные данные
                            .input-inline
                                label Ваше имя
                                span.input
                                    input(type="text")
                            .input-inline
                                label Номер телефона
                                span.input
                                    input(type="text")
                            .input-inline
                                label E-mail
                                span.input
                                    input(type="email")
                            h2 способ доставки
                            .input-radio
                                span.radio
                                    input(type="radio" name="radio" id="rd-1")
                                    label(for="rd-1") Самовывоз из нашего магазина
                                span.select
                                    select
                                        option 12:00
                                        option 11:00
                                        option 09:00
                                    span.icon-arrow-down
                                a.link.link-small(href="") Посмотреть адреса магазинов
                            .input-radio
                                span.radio
                                    input(type="radio" name="radio" id="rd-2" )
                                    label(for="rd-2") Доставка курьером по адресу
                            .input-inline
                                label Город
                                span.input
                                    input(type="text")
                            .input-inline
                                label Улица
                                span.input
                                    input(type="text")
                            .input-inline.input-multi
                                .input-multi_item
                                    label Дом
                                    span.input
                                        input(type="text")
                                .input-multi_item
                                    label Строение/корпус
                                    span.input
                                        input(type="text")
                            .input-inline.input-multi
                                .input-multi_item
                                    label Подъезд
                                    span.input
                                        input(type="text")
                                .input-multi_item
                                    label Этаж
                                    span.input
                                        input(type="text")
                            .input-inline.input-multi
                                .input-multi_item
                                    label Квартира
                                    span.input
                                        input(type="text")
                                .input-multi_item
                                    label Домофон
                                    span.input
                                        input(type="text")
                            .input-inline.input-textarea
                                label Комментарии
                                span.input
                                    textarea(type="text")
                            .input-inline.input-checkbox
                                input(type="checkbox" id="cb-1")
                                label(for="cb-1") Нужна установка
                            .input-inline.input-submit
                                .input
                                    input(type="submit" value="Оформить заказ").button








