extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item
                        a(href="/") Каталог
                    li.bc-item
                        a(href="/") Съемочная техника
                    li.bc-item Карточка клиник
        section.section
            .container
                h2 дверь металлическая венге RSD-890 Венге
                .card-box
                    .card-box_preview
                        .card-box_img
                            img(src="img/content/ci-2.jpg")
                            .special Хит
                            .card-box_img_item.card-box_img_item-2
                                img(src="img/content/card-box-1.jpg")
                        .card-box_preview-content
                            .slider-product_summ 25 000 руб
                            a(href="").button-buy
                                .button-buy_icon
                                    .icon-buy
                                span В корзину
                            .card-box_list
                                a(href="").card-box_list-item
                                    span.card-box_list-icon
                                            .icon-ok
                                    span.card-box_list-text В наличии в интернет-магазине
                                a(href="").card-box_list-item
                                    span.card-box_list-icon
                                        .icon-ok
                                    span.card-box_list-text В наличии в магазине на Калужском шоссе
                                a(href="").card-box_list-item
                                    span.card-box_list-icon
                                        .icon-cancel
                                    span.card-box_list-text Нет в магазине на Киевском шоссе
                    h2 технические характеристики
                    .card-box_determination
                        dl
                            +dt('Размеры','860х3-5- мм')
                            +dt('Толщина металла','2 мм')
                            +dt('Открывание','Наружное левое и правое')
                            +dt('Наружная отделка','Фрезированная панель')
                            +dt('Порошковое покрытие','&nbsp;')
                            +dt('Внутренняя отделка','Фрезированная панель МДФ 12 мм Венге')
                            +dt('Уплотнитель','2 контура тип D')
                        dl
                            +dt('Внутреннее заполнение','&nbsp;')
                            +dt('Минеральаня вата','&nbsp;')
                            +dt('Петли','2 шт.')
                            +dt('Основной замок','KALE 26')
                            +dt('Дополнительный замок','KALE235 уилиндровый вертушка')
                            +dt('Задвижка','Задвижка')
                            +dt('Глазщок','Задвижка')
                h2 Фурнитура
                .product-box
                    +product_item('prod-1.jpg','Дверь металлическая','Сицилия','25 000 руб')
                    +product_item('prod-2.jpg','Дверь металлическая','Сицилия','25 000 руб')
                    +product_item('prod-3.jpg','Дверь металлическая','Сицилия','25 000 руб')
                    +product_item('prod-4.jpg','Дверь металлическая','Сицилия','25 000 руб')
        section.section.section-gray
            .container
                h2 похожие двери
                .slider-box.slider-product
                    .owl-carousel
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','Хит')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','новинка')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')









