extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item
                        a(href="/") Каталог
                    li.bc-item
                        a(href="/") Съемочная техника
                    li.bc-item Цифровые фотоапараты
        section.section
            .container
                h2 входные двери
                .catalog-box
                    aside
                        .aside
                            .aside_head Категории
                            .aside_category
                                a(href="").link-normal Метилические двери
                                .link-normal.active Двери с художественной ковкой
                                a(href="").link-normal Декоративные панели
                            .aside_head Цвета
                            .aside_color
                                input(type="checkbox" name="color-1" id="color-1" checked).aside_color-item.color-1
                                input(type="checkbox" name="color-2" id="color-2").aside_color-item.color-2
                                input(type="checkbox" name="color-3" id="color-3").aside_color-item.color-3
                                input(type="checkbox" name="color-4" id="color-4").aside_color-item.color-4
                                input(type="checkbox" name="color-5" id="color-5").aside_color-item.color-5
                                input(type="checkbox" name="color-6" id="color-6").aside_color-item.color-6
                                input(type="checkbox" name="color-7" id="color-7").aside_color-item.color-7
                                input(type="checkbox" name="color-8" id="color-8").aside_color-item.color-8
                                input(type="checkbox" name="color-9" id="color-9").aside_color-item.color-9
                                input(type="checkbox" name="color-10" id="color-10").aside_color-item.color-10
                                input(type="checkbox" name="color-11" id="color-11").aside_color-item.color-11
                                input(type="checkbox" name="color-12" id="color-12").aside_color-item.color-12
                            .aside_head Стили дверей
                            .aside_check
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-1")
                                    label(for="cb-1") Классика
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-2")
                                    label(for="cb-2") Hi-tech
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-3")
                                    label(for="cb-3") Модерн
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-4")
                                    label(for="cb-4") Раздвижные двери
                            .aside_head Цена
                            .aside_check
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-5")
                                    label(for="cb-5") до 5 000 руб
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-6")
                                    label(for="cb-6") 5 000-15 000 руб
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-7")
                                    label(for="cb-7") от 15 000 руб и выше
                            .aside_head Тип
                            .aside_check
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-8")
                                    label(for="cb-8") Глухая
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-9")
                                    label(for="cb-9") С зеркалом
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-10")
                                    label(for="cb-10") Остекленная
                            .aside_head Фабрика
                            .aside_check.aside_check-multi
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-11")
                                    label(for="cb-11") Albero
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-12")
                                    label(for="cb-12") Status
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-13")
                                    label(for="cb-13") ALFA
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-14")
                                    label(for="cb-14") Valdo
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-15")
                                    label(for="cb-15") Art Deko
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-16")
                                    label(for="cb-16") Valdo
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-17")
                                    label(for="cb-17") Luxor
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-18")
                                    label(for="cb-18") OKA
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-19")
                                    label(for="cb-19") M-doors
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-20")
                                    label(for="cb-20") Потенциал
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-21")
                                    label(for="cb-21") RADA
                        a(href="").spec-product
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','спецпредложение',"buttonOff")
                    .catalog-box_catalog
                        .callback-box
                            .callback-box_img
                                img(src="img/content/cbc-1.jpg")
                            .callback-box_text
                                h1 Затрудняетесь с выбором?
                                h1.light Проконсультируем по телефону
                            .button.button-border-black Заказать звонок
                        .catalog-box_sort
                            span Сортировать по
                            a(href="").link Популярности
                            span.active По цене
                        .catalog-box_content
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +paginator












