extends ../inc/layout
include ../inc/var

block content
    .wrapper
        section.section-head.section
           .container
               .slider-box.slider-main
                   .owl-carousel
                       .slider-main_item
                           .slider-main_img
                               img( alt="" src="img/content/sm-1.jpg")
                               .special
                                   span спецпредложение
                           .slider-main_content
                               .slider-main_head
                                   h1 Межкомнатные двери
                                   h1.light с установкой под ключ
                               .slider-main_text
                                   p Магазин дверей, предлагающий широкий выбор деревянных <br/>межкомнатных моделей по низким ценам. Для вас - удобная <br/>система поиска по сайту и грамотные консультации <br/>специалистов!
                                   .button.button-border Перейти в каталог
                       .slider-main_item
                           .slider-main_img
                               img( alt=""  src="img/content/sm-1.jpg")
                               .special
                                   span Скидка
                           .slider-main_content
                               .slider-main_head
                                   h1 Межкомнатные
                                   h1.light с установкой
                               .slider-main_text
                                   p Магазин дверей, предла
                                   .button.button-border Перейти в каталог
               .product-info
                   +product-info_item('двери оптом','от лучших брендов','pi-1.jpg')
                   +product-info_item('75 брендов','75 брендов','pi-2.jpg')
                   +product-info_item('доставка дверей','из наличия в день оплаты','pi-3.jpg')
               .service-box
                   +service-box_item('si-1.png','Бесплатный <br/>замер')
                   +service-box_item('si-2.png','Доставка <br/> по Москве и области ')
                   +service-box_item('si-3.png','Профессиональная <br/>установка')
                   +service-box_item('si-4.png','Гарантия <br/>качества')
        section.section
            .container
                h2 самые популярные входные двери
                .slider-box.slider-product
                    .owl-carousel
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','Хит')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','новинка')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                h2 САМЫЕ ПОПУЛЯРНЫЕ МЕЖКОМНАТНЫЕ ДВЕРИ
                .slider-box.slider-product
                    .owl-carousel
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','Хит')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','новинка')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
        section.section.section-gray
            .container
                h2 недорогие межкомнатные двери
                .slider-box.slider-product
                    .owl-carousel
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','Хит')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','новинка')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
        section.section
            .container
                .info-box
                    .info-box_img
                        img( alt="" src="img/content/ib-1.png")
                    .info-box_content
                        h1 о магазине
                        p Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей, модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантов исполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставке и установке дверей под ключ. Оплатить покупку легко и просто.
                        p Каталог межкомнатных дверей и фурнитуры удобно структурирован. Пользователям не составит труда подобрать нужный вариант двери. Для этого вся продукция поделена по типу, стилю, дизайну и стоимости. В каждом разделе интернет-магазина собраны двери различных производителей, но благодаря удобному функционалу выбрать нужную модель очень просто. Продажа дверей в Москве осуществляется со склада. Также можно заказать доставку и установку деревянных дверей.
                        a(href="").link Читать полностью
        section.section
            .container
                .article-box
                    +article-box_item('ai-1.jpg','Открылся новый склад магазин <br/>восзде МКАД','Вы всегда можете купить недорогие межкомнат-ные двери в Москве от лучших производителей, модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантов исполнения. ','22 сентября')
                    +article-box_item('ai-2.jpg','Открылся новый склад магазин <br/>восзде МКАД','Вы всегда можете купить недорогие межкомнат-ные двери в Москве от лучших производителей, модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантов исполнения. ','12 сентября')
                    +article-box_item('ai-3.jpg','Открылся новый склад магазин <br/>восзде МКАД','Вы всегда можете купить недорогие межкомнат-ные двери в Москве от лучших производителей, модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантов исполнения. ','04 сентября')
        section.section
            .container
                .map-box
                    #map
                    .map-box_info
                        h2 наши магазины
                        .map-box_box
                            .map-box_item#map-1
                                .map-box_img
                                    .icon-map
                                .map-box_content
                                    .map-box_text
                                        p Павильон А7/4 <br/> Москва, Калужское <br/>шоссе д. 4 стр. 3
                                    .map-box_number
                                        p +7 (499) 281 63 21
                            .map-box_item#map-2
                                .map-box_img
                                    .icon-map
                                .map-box_content
                                    .map-box_text
                                        p Павильон А16/1 <br/> 41 км МКАД, рынок <br/>Славянский мир, <br/> Павильон А16/1
                                    .map-box_number
                                        p +7 (499) 281 63 21
        section.section.section-white
            .container
                .form-box
                    .form-box_info
                        h1 закажите замерщика беспЛатно
                        .form-box_number +7 (499) 281 63 21
                    form
                        .form-box_input
                            .input-line
                                .input
                                    input(type="text" placeholder="Ваше имя")
                            .input-line
                                .input
                                    input(type="text" placeholder="E-mail")
                            .input-line
                                .input
                                    input(type="text" placeholder="Телефон")
                            .input-line.input-submit
                                input(type="submit" value="ЗАКАЗАТЬ").button
                    .form-box_img
                        img( alt="" src="img/content/fb-1.png")







