extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item
                        a(href="/") Каталог
                    li.bc-item
                        a(href="/") Съемочная техника
                    li.bc-item Цифровые фотоапараты
        section.section.section-shop
            .container
                h2 наши магазины
                .map-box.map-selection
                    #map
                    .map-box_info
                        .map-box_box
                            .tab-controls(data-tabcontrol-parent='')
                                .button-tab.map-box_item(data-tabcontrol='tab-map-2' data-tab-autoshow)#map-1 .active
                                    .map-box_img
                                        .icon-map
                                    .map-box_content
                                        .map-box_text
                                            p Павильон А7/4 <br/> Москва, Калужское шоссе д. 4 стр. 3
                                .button-tab.map-box_item(data-tabcontrol='tab-map-1')#map-2
                                    .map-box_img
                                        .icon-map
                                    .map-box_content
                                        .map-box_text
                                            p Павильон А16/4 <br/> Москва, Калужское шоссе д. 4 стр. 3
                .tab-content(data-tabcontent-parent='')
                    .tab.fadable.fading(data-tab='tab-map-1')
                        .schedule
                            .schedule_icon
                                .icon-clock
                            .schedule_text Пн-Вс с 9:00 до 21:00,доставка без выходных
                        .header-callback_number +7 (499) 281 63 21
                        .how-come
                            .how-come_item
                                .how-come_title Как проехать на наземном транспорте
                                .how-come_text
                                    p Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей, модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантов исполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставке и установке дверей под ключ. Оплатить покупку легко и просто.
                            .how-come_item
                                .how-come_title Как проехать на машине
                                .how-come_text
                                    p Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей, модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантов исполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставке и установке дверей под ключ. Оплатить покупку легко и просто.
                        .shop-img
                            .shop-img_item
                                img(src="img/content/sh-1.jpg")
                            .shop-img_item
                                img(src="img/content/sh-2.jpg")
                            .shop-img_item
                                img(src="img/content/sh-3.jpg")
                    .tab.fadable.fading(data-tab='tab-map-2')
                        .schedule
                            .schedule_icon
                                .icon-clock
                            .schedule_text Пн-Вс с 9:00 до 21:00,доставка без выходных
                        .header-callback_number +7 (499) 281 00 21
                        .how-come
                            .how-come_item
                                .how-come_title Как проехать на наземном транспорте
                                .how-come_text
                                    p Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей, модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантов исполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставке и установке дверей под ключ. Оплатить покупку легко и просто.
                            .how-come_item
                                .how-come_title Как проехать на машине
                                .how-come_text
                                    p Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей, модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантов исполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставке и установке дверей под ключ. Оплатить покупку легко и просто.
                        .shop-img
                            .shop-img_item
                                img(src="img/content/sh-1.jpg")
                            .shop-img_item
                                img(src="img/content/sh-2.jpg")
                            .shop-img_item
                                img(src="img/content/sh-3.jpg")









